@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: rgba(83, 118, 223, 0.3);
}

::-webkit-scrollbar-thumb {
	background-color: #6887e3;
}

::-webkit-scrollbar-thumb:hover {
	background: #3d65db;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
	{
	height: 0px;
	background: #7e98e7;
}

::selection {
	background: #7e98e7;
	color: #000040;
}

.hov-g:hover {
	background: #d9d9d9;
}

.hov-p:hover {
	background: #d1e3ff;
}

#contents {
	min-height: 100% !important; 
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.NotoSans{
	font-family: 'Noto Sans KR', sans-serif !important;
}