<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.codeblue.tag.mapper.TagMapper">
	<select id="selectTagList" parameterType="com.example.codeblue.board.vo.Page" resultType="com.example.codeblue.tag.vo.Tag">
		SELECT 
			tag_name as tagName
	    FROM tag
	    ORDER BY notice_datetime DESC
	    LIMIT #{beginRow},#{rowPerPage}
	</select>
</mapper>
