<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>관리자 등록- 코드블루</title>
	
	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<!-- Custom styles for this template-->
	<link href="css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for codeBlue -->
	<link href="css/codeBlue.css" rel="stylesheet"> 
</head>

<body id="page-top"> 
  <!-- Page Wrapper -->
  <div id="wrapper">
  
  	<!-- SideBard load -->
	<div id="sideBar"></div>
	
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light topbar shadow" style="height: 60px;border-bottom: 1px solid #d9d9d9; border-top: 4px solid #4e73df;">
			
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-1 small" placeholder="항목 검색" aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>


            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              	<!-- 로그인 관리자 이름 출력 -->
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="managerName">관리자 이름</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"><!-- 디폴트 이미지 -->
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <div class="container-fluid px-4 pt-4">
		<div class="card border-0 bg-white p-3 m-2 shadow"> 
				
		<!-- Begin Page Content -->
       	<div class="container-fluid px-4 py-4">
            <!-- Page Content -->
            <div class="p-2">
				<div class="row">
				<div class="col-sm-5 mt-5 pt-5 pl-5 ml-5"><!-- explain codeBlue member 혜택 -->
					<img src="/img/codeBlueLogo.png" width="250px"> 
					<h1 class="text-primary h4 mt-2">관리자를 추가 하시겠습니까?</h1>
					<label>관리자 전용 페이지 입니다.</label>
				</div>
				
				<div class="col-sm-6 mt-5">
					<!-- register Form begin -->
					<div class="card border-0 bg-gray-100 p-1 m-4 mx-4"> 
						<form class="was-validated card-body">
						  <div class="form-group">
						    <label class="text-dark font-weight-bold" for="id">관리자 이메일(ID)</label>
						    <input type="email" class="form-control form-control-sm" id="id" placeholder="E-Mail@example.com" required>
						    <div class="valid-feedback">좋아요.</div>
						    <div class="invalid-feedback">올바른 이메일을 입력해주세요.</div>
						  </div>
						  <div class="form-group">
						    <label class="text-dark font-weight-bold" for="name">관리자 닉네임</label>
						    <input type="text" class="form-control form-control-sm" id="name" placeholder="OOO(부서명) 홍길동" required>
						    <div class="valid-feedback">좋아요.</div>
						    <div class="invalid-feedback">닉네임을 입력해주세요.</div>
						  </div>
						  <div class="form-group">
						    <label class="text-dark font-weight-bold" for="pw">관리자 비밀번호</label>
						    <input type="password" class="form-control form-control-sm" id="pw" placeholder="비밀번호" required>
						    <div class="valid-feedback">좋아요.</div>
						    <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
						  </div>
						  
						  <div class="form-group">
						    <label class="text-dark font-weight-bold" for="pw2">비밀번호 재확인</label>
						    <input type="password" class="form-control form-control-sm" id="pw2" placeholder="비밀번호 확인" required>
						    <div class="valid-feedback">좋아요.</div>
						    <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
						  </div> 
						  			  
						  <button type="button" class="btn btn-block btn-primary join" id="join">관리자 등록</button> 
						 </form> 
						  <!-- 입력 클릭시 인증코드 입력란 출력 -->
						  <b class="text-sm card mt-3 mx-3 p-3 text-center text-primary shadow" id="notice" style="display:none">인증 메일이 전송 되었습니다!</b>
						  <form class="was-validated card-body" > 
							  <div id="codeForm" style="display:none">	  
							  	<div class="form-group">
							    	<label class="text-dark font-weight-bold" for="code">인증코드</label>
							    	<input type="text" class="form-control" id="code" placeholder="인증코드를 입력해주세요" required>
							    	<div class="valid-feedback">좋아요.</div>
							    	<div class="invalid-feedback">인증 코드를 입력해주세요 🎆</div> 
							  	</div> 
							  	<button type="button" id="confirmCode" class="btn btn-block btn-outline-primary">확인</button>  
								<a href="#" id="resend" class="small text-center">메일을 못 받으셨나요? 다시 보내드립니다!</a> 
							  </div>
						  </form>
						  <div class="card bg-primary m-3 p-3 text-center shadow" style="display:none" id="joinComplete">
							  <h4 class="my-2 p-2 text-center text-light font-weight-bold" id="ok"></h4>
							  <a href="/login" class="text-warning nav-link font-weight-bold" id="toLogin"></a>
						  </div> 
					</div>
					<!-- register Form end -->
				</div>
				
				</div>
				</div>
			</div> 
		</div> 
		<!-- content Row 3 end -->
		
        </div>
        <!-- /.container-fluid --> 
	      <!-- Footer -->
	      <footer class="sticky-footer ">
	        <div class="container my-auto">
	          <div class="copyright text-center my-auto">
	            <img src="./img/codeBlueLogo.png" width="150px">
	          </div>
	        </div>
	      </footer>
	      <!-- End of Footer -->
      </div>
      <!-- End of Main Content -->

	
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
 	
 
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded bg-primary" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하고 싶으시면 아래 로그아웃 버튼을 클릭해주세요!</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>
  
  <!-- codeBlue Admin scripts -->
  <script src="js/codeBlueAdmin.js"></script>
  
	 
</body>
<script> 
$(document).ready(function() {
	
	$("#sideBarSetting").addClass("active");/* 
	$("#sideBarSetting").children("a").attr("aria-expanded","false");
	$("#sideBarSetting").children("div").addClass("show"); */
	
	$(".join").click(function(){
		console.log("입력완료 메일전송 시작.");
		if($("#id").val()=="" || $("#name").val()=="" || $("#pw").val()==""){
			alert("빈칸을 채워주세요!");
			return;
		} 
		
		$.ajax({
			url:"/rest/adminSendEmailToConfirm",
			data:{ "managerId" : $("#id").val() , "managerName" : $("#name").val() },
			method:"post", 
			success:function(){
				console.log("메일 전송 완료!")
				$("#notice").fadeIn(300); 
				setTimeout(function() {
					$("#codeForm").slideDown(500); 
				}, 300);
				
				$('#id').prop('readonly', true); 
				$("#name").prop('readonly', true); 
				$("#pw").prop('readonly', true);  
				$(".join").prop('disabled', true);  
				
				console.log($('#id').val());
				console.log($('#name').val()); 
			}

		})
		 
	})
	
	$("#resend").click(function(){
		console.log("입력완료 메일전송 시작.");
		
		$.ajax({
			url:"/rest/adminSendEmailToConfirm",
			data:{ "managerId" : $("#id").val() , "managerName" : $("#name").val() },
			method:"post", 
			success:function(){
				console.log("메일 전송 완료!")
				$("#notice").fadeIn(300); 
				setTimeout(function() {
					$("#codeForm").slideDown(500); 
				}, 300);
				
				$('#id').prop('readonly', true); 
				$("#name").prop('readonly', true); 
				$("#pw").prop('readonly', true);  
				$(".join").prop('disabled', true);  
				
				console.log($('#id').val());
				console.log($('#name').val()); 
			}

		})
		 
	})
	 
	$("#confirmCode").click(function(){
		console.log($("#id").val())
	 	$.ajax({
	 		url:"/rest/adminVerifyCode",
			data:{ 	"managerId" : $("#id").val() , 
					"managerName" : $("#name").val(),
					"managerPw" : $("#pw").val(), 
					"code" : $("#code").val()
					},
			method:"post", 
			async : "true",
			success:function(json){
				console.log(json);
				if(json == false){
					alert("코드가 틀렸습니다! 다시 시도하여 주세요. :( ")
					return;
				}
				$("#code").prop("disabled", true);
				$("#confirmCode").prop("disabled", true);
				$('#resend').css("display", "none");  
				
				$("#joinComplete").fadeIn(300);
				setTimeout(function() {
					$("#ok").append("관리자 등록 완료!<br>축하합니다 🎆!");
					
				}, 300);	
				
				alert("관리자 등록 완료!")
				location.replace("/admin");	
				
			},
			fail:function(){
				alert("알 수 없는 에러갑 발생 했습니다! 다시 시도하여 주세요 😥");
			}
		})

	})  
//document	
});
</script>
</html>
