<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>관리자 공지관리 - 코드블루</title>
	
	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<!-- Custom styles for this template-->
	<link href="css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for codeBlue -->
	<link href="css/codeBlue.css" rel="stylesheet"> 
</head>

<body id="page-top"> 
  <!-- Page Wrapper -->
  <div id="wrapper">

   	<!-- SideBard load -->
	<div id="sideBar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- topBar load -->
      <div id="topBar"></div>
		
        <!-- Begin Page Content -->
       <div class="container-fluid px-4 pt-4">
			<div class="card border-0 bg-white p-3 my-2 shadow mx-3"> 
				<!-- Page Content -->
				<div class="p-2">
					<!-- Page Heading -->
					
					<div class="d-sm-flex align-items-center justify-content-between mb-3" >
						<h3 class="text-gray-800 mb-2 font-weight-bold">공지사항 관리</h3>
						<div class="col-sm-2">
						</div>
						<a href="/adminNoticeAdd" class="d-none d-sm-inline-block btn btn-primary shadow"><i class="mr-2 fas fa-plus fa-sm text-white-50"></i>공지 올리기</a> 
					</div>
				<!-- start NoticeBoard search -->
        		<form id="searchBoard">
        		<div class="card bg-gray-200 border-0 mb-3">
	        		<div class="row p-4">
		        		<div class="col-sm-9">
		        			 <table class="table table-sm table-borderless">
								<tr>
									<td width="15%">검색어 </td>
									<td> <input class="form-control form-control-sm" type="text" id="searchWord" style="width: 40%"></td>
								</tr>
								<tr>
									<td>날짜 </td>
									<td><div class='d-flex'>
										<input class="form-control form-control-sm" type="date" id=toDate style="width: 30%">&nbsp;~&nbsp;<input class="form-control form-control-sm" type="date" id="fromDate" style="width: 30%">
									</div></td>
								</tr>
							</table>
		        		</div>
		        		<div class="col-sm-3 text-right">
		        			<button type="button" class="btn btn-primary btn-sm px-5 my-1 mt-3" id="getBoard">검색</button><br>
							<button type="reset" class="btn btn-outline-primary btn-sm px-5 " id="reset">초기화</button>
		        		</div>
					</div>
				</div>
				</form>
				<!-- ----------- end searchLine--------------------- -->
					
					<div class="row my-2 mt-4">
					<div class="col-sm-2">
						<p id="totalRow" class="py-1 m-0"></p>
					</div>
					<div class="col-sm-9">
						<button type="button" class="btn btn-outline-primary btn-sm px-4" id="removeNoticeBoard">공지사항 삭제</button>
					</div>
					<div class="col-sm-1">
						<select  class="form-control form-control-sm" id="rowPerPage">
							<option value="10" selected="selected">10개 보기</option>
							<option value="20">20개 보기</option>
							<option value="30">30개 보기</option>
							<option value="40">40개 보기</option>
							<option value="50">50개 보기</option>
						</select>
					</div>
				</div>
					<!-- page Heading End -->
					
					<!-- Notice Board -->
					
					<table class="table table-bordered text-center table-hover">
						<thead>
							<tr>
								<th class='px-1'><div class='custom-control custom-checkbox text-center ml-2'><input class='custom-control-input' type='checkbox' onclick="checkAll()" id='selectAll'><label class='custom-control-label' for='selectAll'></label></div></th>
								<th width='10%'>번호</th>
								<th>제목</th><th width='15%'>날짜</th>
							</tr>
						</thead>
						<tbody id="notice">
						
						</tbody>
					</table>
					<button type="button" id="prevBtn" class="btn btn-primary">이전</button>
					<span id="pageInfo"></span>
					<button type="button" id="nextBtn" class="btn btn-primary">다음</button>
					
				</div>
			<!--  Page Content End -->
			</div>
		</div> 
        
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <img src="./img/codeBlueLogo.png" width="150px">
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
	</div>
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

<!-- ETC -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded bg-primary" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하고 싶으시면 아래 로그아웃 버튼을 클릭해주세요!</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <!-- codeBlue Admin scripts -->
  <script src="js/codeBlueAdmin.js"></script>

</body>
<script type="text/javascript">
//체크 박스에 선택된 값을 저장
var checkBoxArr = [];
//현재페이지값
var currentPage = 1;
//마지막페이지값
var lastPage = 1;
//페이지에 출력할 행 갯수
var rowPerPage = 10;
//검색어
var searchWord = undefined;
//작성기간시작
var toDate = undefined;
//작성기간끝
var fromDate = undefined;

	$("#sideBarNotice").addClass("active");
	$("#sideBarNotice").children("a").attr("aria-expanded","false");
	$("#sideBarNotice").children("div").addClass("show");

	//처음에 공지사항 리스트 보여주기
	appendItem(currentPage);
	//이전버튼 공지사항 보여줌
	$("#prevBtn").click(function(){
		appendItem(--currentPage);
		$("#selectAll").prop("checked",false);
	})
	//다음버튼 공지사항 보여줌
	$("#nextBtn").click(function(){
		appendItem(++currentPage);
		$("#selectAll").prop("checked",false);
	})
	//rowPerPage 변경시 공지사항 보여줌
	$("#rowPerPage").change(function(){
		appendItem(1);
		$("#selectAll").prop("checked",false);
	});
	//getBoard버튼 누르면 검색한다.
	$("#getBoard").click(function(){
		appendItem(1);
		$("#selectAll").prop("checked",false);
	})
//리스트 출력
function appendItem(currentPage){
		//id 값이 searchWord 인 html를 가져와서 value 값이 null이 아닐경우 저장한다.
		if(document.getElementById("searchWord").value){
			searchWord = $("#searchWord").val();
		} else {
			searchWord = undefined;
		}
		//html태그중에 input에 id값이 toDate 인  value데이터를 Date형식으로 변환한 값이 null이 아닐경우 저장한다.
		if(document.querySelector("input[id='toDate']").valueAsDate){
			toDate = document.querySelector("input[id='toDate']").valueAsDate.toISOString().slice(0, 10);	
		} else {
			toDate = undefined;
		}
		//html태그중에 input에 id값이 fromDate 인  value데이터를 Date형식으로 변환한 값이 null이 아닐경우 저장한다.
		if(document.querySelector("input[id='fromDate']").valueAsDate){
			fromDate = document.querySelector("input[id='fromDate']").valueAsDate.toISOString().slice(0, 10);
		} else {
			fromDate = undefined;
		}
	$.ajax({
		url : "/rest/adminNoticeBoard",
		method : "post",
		data : {"currentPage": currentPage,
				"rowPerPage" : $("#rowPerPage").val(),
				"searchWord" : searchWord,
				"toDate" : toDate,
				"fromDate": fromDate},
		success : function(json){
			$("#notice").empty();
			subInfo(json);
			BtnShow(currentPage, lastPage);
			console.log(json);
			var notice;
			$(json.list).each(function(index,item){
				//체크리스트 출력
			  notice += "<tr>"+
						"<td class='px-1'><div class='custom-control custom-checkbox text-center ml-2'>" +
						"<input class='custom-control-input' type='checkbox' name='chk' id='check"+index+"' value='"+item.noticeId+"'>"+
						"<label name='chk' class='custom-control-label' for='check"+index+"'></label></div></td>"+
						"<td>"+item.noticeId+"</td>"+
						"<td class='text-left'><a href='/adminNoticeOne?noticeId="+item.noticeId+"'>"+item.noticeTitle+"</td>"+
						"<td>"+item.noticeDatetime+"</td>"+
						"</tr>";
				})
			$("#notice").append(notice);
		}
	})
}

$("#removeNoticeBoard").click(function() {
	$("input[name=chk]:checked").each(function(){
			
		checkBoxArr.push($(this).val());
	
	});
	console.log("::: checkBoxArr배열 :::")
	console.log(checkBoxArr);
	if(checkBoxArr.length == 0){
		alert("체크 항목이 없습니다.");
	} else {
		$.ajax({
			url:"/rest/admin/removeNoticeBoardList",
			traditional : true, //ajax에서 기본적으로 배열을 지원하지않기때문에 설정
			method:"post",
			data:{"checkBoxArr":checkBoxArr},
			success:function(json){
				console.log(json);
				location.reload();
			}
		})
	}
})
function checkAll() {
	if( $("#selectAll").is(':checked') ){
        $("input[name=chk]").prop("checked", true);
    }else{
        $("input[name=chk]").prop("checked", false);
    }
}
//이전, 다음버튼 보이기/숨기기
function BtnShow(currentPage, lastPage){
console.log("currentPage"+currentPage+"/ lastPage"+lastPage);
	if(currentPage <= 1){
		$("#prevBtn").hide();
	}else{
		$("#prevBtn").show();
	}
	if(currentPage >= lastPage){
		$("#nextBtn").hide();
	}else{
		$("#nextBtn").show();
	}
}
// 서브 값 추가
function subInfo(json){
	$("#totalRow").empty();
	$("#pageInfo").empty();
	currentPage = json.currentPage;
	rowPerPage = json.rowPerPage;
	lastPage = json.lastPage;
	searchWord = json.searchWord;
	toDate = json.toDate;
	fromDate = json.fromDate;
	$("#searchWord").val(json.searchWord);
	$("#totalRow").append("검색결과"+json.totalRow+"건");
	$("#pageInfo").append(currentPage+"/"+lastPage);
}
</script>
</html>
