<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>관리자 제휴병원 - 코드블루</title>
	
	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<!-- Custom styles for this template-->
	<link href="css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for codeBlue -->
	<link href="css/codeBlue.css" rel="stylesheet"> 
</head>

<body id="page-top"> 
  <!-- Page Wrapper -->
  <div id="wrapper">

  	<!-- SideBard load -->
	<div id="sideBar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

     	<!-- topBar load -->
      <div id="topBar"></div>

	 <!-- Begin Page Content -->
       <div class="container-fluid px-4 pt-4">
			<div class="card border-0 bg-white p-3 my-2 shadow mx-3"> 
				<!-- Page Content -->
				<div class="p-2">
					<!-- heading -->
					<div class="d-sm-flex align-items-center justify-content-between mb-3" >
						<h3 class="text-gray-800 mb-2 font-weight-bold NotoSans">제휴병원</h3>
						<a href="/addHospital" class="d-none d-sm-inline-block btn  btn-primary shadow"><i class="mr-2 fas fa-plus fa-sm text-white-50"></i>제휴병원 등록</a> 
					</div>
					<!-- page Heading End -->
					<hr>
					
					<!-- hospital -->
					<div class="card m-2 p-5 border-0">
						<div class="row">
							<div class="col-sm-6">
							<img src='img/hospital.svg' width='50%'>
							</div>
							<div class="col-sm-6" id="hospitalOne"></div>
						</div>
					</div>
					<br>
					<div style="float: right;">
						<button type="button" id="listBtn" class="btn btn-primary">목록</button>
						<button type="button" id="modifyBtn" class="btn btn-primary">수정</button>
						<button type="button" id="deleteBtn" class="btn btn-primary">삭제</button>
					</div>
				</div>
			  </div>
			<!--  Page Content End -->
			</div>
		</div>  
        
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <img src="./img/codeBlueLogo.png" width="150px">
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

<!-- ETC -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded bg-primary" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하고 싶으시면 아래 로그아웃 버튼을 클릭해주세요!</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <!-- codeBlue Admin scripts -->
  <script src="js/codeBlueAdmin.js"></script>

</body>
<script type="text/javascript">
$(document).ready(function(){
	
	$("#sideBar").load("/sideBar #accordionSidebar", function(){
		$("#sideBarHospital").addClass("active");
		$("#sideBarHospital").children("a").attr("aria-expanded","false");
		$("#sideBarHospital").children("div").addClass("show");
	});
	
	// 파라메터 정보가 저장될 오브젝트
	// common.js 같은 모든 페이지에서 로딩되는 js 파일에 넣어두면 됨.
	var getParam = function(key){
	    var _parammap = {};
	    document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
	        function decode(s) {
	            return decodeURIComponent(s.split("+").join(" "));
	        }

	        _parammap[decode(arguments[1])] = decode(arguments[2]);
	    });

	    return _parammap[key];
	};
	$("#hospitalId").val(getParam("hospitalId"));
	
	//상세페이지 출력.
	$.ajax({
		url : "/rest/adminHospitalOne",
		method : "post",
		data : {"hospitalId": getParam("hospitalId")},
		success : function(json){
			console.log(json);		
			let hospitalOne
			$(json).each(function(index,item){
					hospitalOne  ="<p class='mb-0 text-dark'style='font-size : 30px'>"+item.hospitalName;
					hospitalOne +="<hr><p class='mb-0 text-dark'style='font-size : 20px'>"+item.hospitalNumber;
					hospitalOne +="</p>" ;
					hospitalOne +="<p class='mb-0 text-dark'style='font-size : 20px'>" + item.region.regionName;
					hospitalOne +="</p>";
					hospitalOne += "<p class='mb-0 text-dark'style='font-size : 20px'>" + item.hospitalAddress;
					hospitalOne += "</p><p class='mb-0 text-dark' style='font-size : 20px'>"+item.hospitalAddress2;
					hospitalOne += "</p>";
					
					$("#hospitalOne").append(hospitalOne);
			})
			
		}
	})
	
	$("#listBtn").click(function(){
		location.href="/adminHospitalList";
	})
	
	$("#modifyBtn").click(function(){
		location.href="/modifyHospital?hospitalId="+getParam("hospitalId");
	})
	
	$("#deleteBtn").click(function(){
		$.ajax({
			url : "/removeHospital",
			data : {"hospitalId":getParam("hospitalId")},
			method:"get",
			success : function(){
				console.log("삭제");
				location.href="/adminHospitalList";
			}
		})
	})
//document
})

</script>
</html>
