<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>관리자 - 코드블루</title>
	
	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<!-- Custom styles for this template-->
	<link href="css/sb-admin-2.min.css" rel="stylesheet">
	<!-- Custom styles for codeBlue -->
	<link href="css/codeBlue.css" rel="stylesheet"> 
</head>

<body id="page-top"> 
  <!-- Page Wrapper -->
  <div id="wrapper">
  
  	<!-- SideBard load -->
	<div id="sideBar"></div>
	
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

         <!-- topBar load -->
		<div id="topBar"></div>

        <!-- Begin Page Content -->
        <div class="container-fluid pt-4 px-5 content"> 
          <!-- Content Row 1 -->
          <div class="row mt-3">

            <!-- user manage column -->
            <div class="col-xl-3 col-md-6 mb-4 px-3">
              <div class="card shadow border-0 p-4"> 
              	<!-- card Header -->
              	<h4 class="text-dark font-weight-bold mb-4">회원 관리</h4>
              	<!-- card Content -->
              	<div class="row text-center mb-4">
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center hov-p">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminUserList">회원 조회</a></h5>
              			</div>
              		</div> 
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center hov-g">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminExpertUserList">전문가</a></h5>
              			</div>
              		</div>  
              	</div><!-- row end -->
              	
              	<div class="row text-center">
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminUserList">정지 회원</a></h5>
              			</div>
              		</div> 
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminWithdrawUserList">탈퇴 회원</a></h5>
              			</div>
              		</div>  
              	</div><!-- row end -->
              	<!-- content end -->
              </div><!-- card end -->
            </div><!-- col end -->
            
            <!-- user manage column -->
            <div class="col-xl-3 col-md-6 mb-4 px-3">
              <div class="card shadow border-0 p-4"> 
              	<!-- card Header -->
              	<h4 class="text-dark font-weight-bold mb-4">게시글 관리</h4> 
              	<!-- card Content -->
              	<div class="row text-center mb-4">
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center hov-p">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminQuestionBoard">질문 현황</a></h5>
              			</div>
              		</div> 
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center hov-g">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminAnswer">답변 조회</a></h5>
              			</div>
              		</div>  
              	</div><!-- row end -->
              	
              	<div class="row text-center">
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminWithdrawQuestionBoard">삭제 질문</a></h5>
              			</div>
              		</div> 
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminQuestionComment">댓글 관리</a></h5>
              			</div>
              		</div>  
              	</div><!-- row end -->
              	<!-- content end -->
              </div><!-- card end -->
            </div><!-- col end -->
            
            <!-- user manage column -->
            <div class="col-xl-3 col-md-6 mb-4 px-3">
              <div class="card shadow border-0 p-4"> 
              	<!-- card Header -->
              	<h4 class="text-dark font-weight-bold mb-4">문의관리</h4> 
              	<!-- card Content -->
              	<div class="row text-center mb-4">
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center hov-p">
              				<h5 class="text-dark font-weight-bold m-2"><a class="nav-link" href="/adminInquiryBoard">
              					<p class="m-0 mb-2 text-dark" id="inquiryCount">10</p>
              					문의 관리
              				</a></h5>
              			</div>
              		</div> 
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center hov-g">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminFaqBoard">FAQ 관리</a></h5>
              			</div>
              		</div>  
              	</div><!-- row end -->
              	
              	<div class="row text-center" >
              		<div class="col-xl-6">
              			<div class="card bg-light border-0 text-center">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminInquiryBoard">문의 답변</a></h5>
              			</div>
              		</div> 
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminReportBoard">신고 관리</a></h5>
              			</div> 
              		</div>  
              	</div><!-- row end -->
              	<!-- content end -->
              </div><!-- card end -->
            </div><!-- col end -->
            
            <!-- user manage column -->
            <div class="col-xl-3 col-md-6 mb-4 px-3">
              <div class="card shadow border-0 p-4"> 
              	<!-- card Header -->
              	<h4 class="text-dark font-weight-bold mb-4">제휴병원 관리</h4> 
              	<!-- card Content -->
              	<div class="row text-center mb-4">
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center hov-p">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminHospitalList">제휴 병원</a></h5>
              			</div>
              		</div> 
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center hov-g">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/addHospital">병원 추가</a></h5>
              			</div>
              		</div>  
              	</div><!-- row end -->
              	
              	<div class="row text-center">
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/adminHospitalList">협력 기록</a></h5>
              			</div>
              		</div> 
              		<div class="col-xl-6">
              			<div class="card border-0 bg-light text-center">
              				<h5 class="text-dark font-weight-bold mx-3 my-4"><a class="nav-link" href="/addHospital">정보 수정</a></h5>
              			</div>
              		</div>  
              	</div><!-- row end -->
              	<!-- content end -->
              </div><!-- card end -->
            </div><!-- col end -->
            
			
							
          </div>
		<!-- Content Row 1 end -->
		
          <!-- Content Row 2--> 
          <div class="row">
       
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">연간 분야별 질문수</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="feildQuestionCountPieChart"></canvas>
                  </div>
                  <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> 내과
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> 소아청소년과
                    </span>
                    <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> 정신과
                    </span>
                     <span class="mr-2">
                      <i class="fas fa-circle text-danger"></i> ...
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">연간 월별 질문수</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="monthlyQuestionCountLineChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

          </div>
		<!-- Content Row 2 end --> 
		
          <!-- Content Row 3-->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">문의및 신고 처리율</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">문의 처리율 <span class="float-right">6%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 6%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">신고 처리율 <span class="float-right">1%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">전체 처리율 <span class="float-right">60%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">기타<span class="float-right">80%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">오늘도 좋은하루 :) <span class="float-right">Complete!</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

            </div><!-- row3 end -->

            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">코드블루</h6>
                </div>
                <div class="card-body">
                  <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/codeBlue.png" alt="CodeBlue LOGO here">
                  </div>
                  <p>코드블루는 의학 전문 Q&A 사이트 입니다. 철저한 모니터링 및 관리를 통해 질좋은 사이트를 유지해 나갑니다.</p>
                  <a target="_blank" rel="nofollow" href="https://undraw.co/">일러스트 필요시 참고 사이트 &rarr;</a>
                </div>
              </div>

              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">MeMo</h6>
                </div>
                <div class="card-body">
                </div>
              </div>

            </div>
          </div>
		<!-- content Row 3 end -->
		
        </div>
        <!-- /.container-fluid --> 
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer ">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <img src="./img/codeBlueLogo.png" width="150px">
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
 	
<!-- ETC -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded bg-primary" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하고 싶으시면 아래 로그아웃 버튼을 클릭해주세요!</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>
  
  <!-- codeBlue Admin scripts -->
  <script src="js/codeBlueAdmin.js"></script>
  
	 
</body>
<script>
	
$("#sideBarDashBoard").addClass("active");

	var piectx = document.getElementById("feildQuestionCountPieChart"); 
	var piecount = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0];

	$.ajax({
		url:"/getCurrentQuestionCountFromFeild",
		method:"get",
		success : function(json){
			console.log(json);			
			
			$(json).each(function(index, item){
				piecount[item.feildId-1] = item.questionCount;
			})
			console.log(piecount)
			feildQuestionCountChart.update();
		},
	});



	var feildQuestionCountChart = new Chart(piectx, {
		  type: 'doughnut',
		  data: {
		    labels: ["내과", "소아청소년", "정신과","피부과", "신경과", "재활의학","가정의학", "안과", "이비인후과",
		    	"비뇨기", "신경", "정형외과","성형외과", "외과", "산부인과","흉부외과", "영상의학", "핵의학", 
		    	"마취통증", "방사선종양", "진단검사의학", "병리학", "응급의학", "직업환경", "예방의학"],
		    datasets: [{
		      data: piecount,
		      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b', '#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b',
		    	  '#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b','#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b',
		    	  '#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b'],
		      hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'], 
		      hoverBorderColor: "rgba(234, 236, 244, 1)",
		    }],
		  },
		  options: {
		    maintainAspectRatio: false,
		    tooltips: {
		      backgroundColor: "rgb(255,255,255)",
		      bodyFontColor: "#858796",
		      borderColor: '#dddfeb',
		      borderWidth: 1,
		      xPadding: 15,
		      yPadding: 15,
		      displayColors: false,
		      caretPadding: 10,
		    },
		    legend: {
		      display: false
		    },
		    cutoutPercentage: 90,
		  },
		});




	var linectx = document.getElementById("monthlyQuestionCountLineChart"); 
	var linecount = [0,0,0,0,0,0,0,0,0,0,0,0];

	$.ajax({
		url:"/getYearlyQuestionCount",
		method:"get",
		success : function(json){
			console.log(json);			
			
			$(json).each(function(index, item){
				linecount[item.questionMonth-1] = item.questionCount;
			})
			console.log(linecount);
			yearlyQuestionCountChart.update();
		},
	});

	var yearlyQuestionCountChart = new Chart(linectx, {
		type: 'line',
		  data: {
		    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
		    datasets: [{
		      label: "질문수",
		      lineTension: 0.3,
		      backgroundColor: "rgba(78, 115, 223, 0.05)",
		      borderColor: "rgba(78, 115, 223, 1)",
		      pointRadius: 3,
		      pointBackgroundColor: "rgba(78, 115, 223, 1)",
		      pointBorderColor: "rgba(78, 115, 223, 1)",
		      pointHoverRadius: 3,
		      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
		      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
		      pointHitRadius: 10,
		      pointBorderWidth: 2,
		      data: linecount,
		    }],
		  },
		  options: {
		    maintainAspectRatio: false,
		    layout: {
		      padding: {
		        left: 10,
		        right: 25,
		        top: 25,
		        bottom: 0
		      }
		    },
		    scales: {
		      xAxes: [{
		        time: {
		          unit: 'date'
		        },
		        gridLines: {
		          display: false,
		          drawBorder: false
		        },
		        ticks: {
		          maxTicksLimit: 7
		        }
		      }],
		      yAxes: [{
		        ticks: {
		          maxTicksLimit: 5,
		          padding: 10,
		          beginAtZero: true
		        },
		        gridLines: {
		          color: "rgb(234, 236, 244)",
		          zeroLineColor: "rgb(234, 236, 244)",
		          drawBorder: false,
		          borderDash: [2],
		          zeroLineBorderDash: [2]
		        }
		      }],
		    },
		    legend: {
		      display: false
		    },
		    tooltips: {
		      backgroundColor: "rgb(255,255,255)",
		      bodyFontColor: "#858796",
		      titleMarginBottom: 10,
		      titleFontColor: '#6e707e',
		      titleFontSize: 14,
		      borderColor: '#dddfeb',
		      borderWidth: 1,
		      xPadding: 15,
		      yPadding: 15,
		      displayColors: false,
		      intersect: false,
		      mode: 'index',
		      caretPadding: 10,
		      callbacks: {
		        label: function(tooltipItem, chart) {
		          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
		          return datasetLabel + ': ' + tooltipItem.yLabel+"개";
		        }
		      }
		    },
		  }
	});	


</script>
</html>
