<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>비밀번호 찾기 - 코드블루</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="background: #ebebeb; height: 94vh">
 
	<!-- Topbar -->
	<div id="topBar"></div>
	<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container" style="height: 100%" align="center">  
			<div class="p-5 m-5 text-left" style="width: 50%"> 
				<p class="text-center">
					<a href="/">
						<img src="/img/codeBlueIcon.png" width="50px"><br>
						<img class="mb-3" src="/img/codeBlue.png" width="100px">
					</a> 
				</p>
				<!-- email Form begin -->
				<div class="card shadow px-2 mx-5"> 
					<form class="card-body pb-0">
						<small>
							비밀번호가 기억이 안나시나요? 이메일을 입력하시면 인증 코드를 보내드립니다! 인증코드로 이메일을 인증하고 비밀번호를 새로 설정해보세요.
						</small>
					  <div class="form-group">
					    <label class="text-dark font-weight-bold mt-3" for="userId">이메일</label>
					    <input type="email" class="form-control form-control-sm" id="id" placeholder="E-Mail@example.com"> 
					  </div>  
					  <button type="button" class="btn btn-block btn-primary mb-2" id="getCode">인증 메일 받기</button> 
					</form> 
					
					<!-- 입력 클릭시 인증코드 입력란 출력 -->
					  <b class="text-sm card mt-1 mx-3 p-3 text-center text-primary shadow" id="notice" style="display:none">인증 메일이 전송 되었습니다!</b>
					  <form class="was-validated card-body px-2 py-2" > 
						  <div id="codeForm" style="display:none">	  
						  	<div class="form-group">
						    	<label class="text-dark font-weight-bold mt-1" for="code">인증코드</label>
						    	<input type="text" class="form-control" id="code" placeholder="인증코드를 입력해주세요" required> 
						    	<div class="invalid-feedback">인증 코드를 입력해주세요 🎆</div> 
						  	</div> 
						  	<button type="button" id="confirmCode" class="btn btn-block btn-outline-primary mb-1">확인</button>  
							<a href="#" id="resend" class="small text-center">메일을 못 받으셨나요? 다시 보내드립니다!</a> 
						  </div>
					  </form> 
				</div> <!-- email Form end -->
				
				<!-- reset Form begin -->
				<div class="card shadow mt-2 pt-3 px-2 mx-5" id="restForm" style="display:none"> 
					<b class="card border-success text-success p-2 mx-3 text-center mb-0">인증이 완료 되었습니다!<br>새 비밀번호를 설정해 주세요.</b>
					<form class="was-validated card-body" action="/resetPassword" method="post">
					  <div class="form-group mb-1">
					    <label class="text-dark font-weight-bold" for="pw">비밀번호</label>
					    <input type="password" class="form-control form-control-sm" id="pw" placeholder="비밀번호" required>
					    <div class="valid-feedback">좋아요.</div>
					    <div class="invalid-feedback">새 비밀번호를 입력해주세요.</div>
					  </div>
					  <div class="form-group">
					    <label class="text-dark font-weight-bold" for="pw2">비밀번호 확인</label>
					    <input type="password" class="form-control form-control-sm" id="pw2" placeholder="비밀번호" required>
					    <div class="valid-feedback">좋아요.</div>
					    <div class="invalid-feedback">비밀번호를 한번 더 입력해주세요.</div>
					  </div> 
					  <button type="button" id="reset" class="btn btn-block btn-outline-primary">비밀번호 변경</button>
				  	</form>
				</div>
				<!-- reset Form end -->
				
			</div> 			
		</div> 
		<!-- Page Content End --> 
		 


	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	
	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>
  	
</body>
<script> 
	
	$("#getCode").click(function(){
		$.ajax({
			url : "/rest/verifyUserForReset",
			method : "post",
			data : {"userId" : $("#id").val()},
			success : function(json){
				console.log(json);
				if(json == "noSuchUser"){
					alert("해당 이메일과 일치하는 유저 정보가 없습니다!");
					return;
				}
				console.log("메일 전송 완료!") 
				$("#userId").prop("readonly", true);
				$("#getCode").prop("disabled", true);
				
				$("#notice").fadeIn(300); 
				setTimeout(function() {
					$("#codeForm").slideDown(500); 
				}, 300); 
				
			}
		})
	})
	
	$("#resend").click(function(){
		console.log("입력완료 메일전송 시작.");
		$.ajax({
			url:"/rest/sendEmailToConfirm",
			data:{ "userId" : $("#id").val() },
			method:"post", 
			success:function(){
				console.log("메일 전송 완료!")
			}
	
		})
		 
	})
	
	$("#confirmCode").click(function(){
		console.log("코드 검사");
	 	$.ajax({
	 		url:"/rest/verifyCodeForRest",
			method:"post", 
			async : "true",
			data : {"code":$("#code").val()},
			success:function(json){
				console.log(json);
				if(json == false){
					alert("코드가 틀렸습니다! 다시 시도하여 주세요. :( ")
					return;
				}
				$("#code").prop("disabled", true);
				$("#confirmCode").prop("disabled", true);
				$('#resend').css("display", "none");  
				
				setTimeout(function() {
					$("#restForm").fadeIn();
				}, 300); 		
				
				
			},
			fail:function(){
				alert("알 수 없는 에러가 발생 했습니다! 다시 시도하여 주세요 😥");
			}
		})
	})  
	
	$("#reset").click(function(){
		console.log("비밀번호 변경!");
		if($("#pw").val() != $("#pw2").val()){
			alert("비밀번호가 일치하지 않습니다!!");
			return;
		}
		
		$.ajax({
			url : "/rest/resetPassword",
			method : "post",
			data :{ "userId" : $("#id").val(),
					"userPw" : $("#pw").val() }, 
			success : function(json){
				console.log("실행");
				location.href="/login";
			}                                                                                                                                                                                                                                          
		})
	})
	
</script>
</html>