<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>코드블루</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<style>
.hov-g:hover {
	background: #d9d9d9 !important;
}

.hov-p:hover {
	background: #d1e3ff !important;
}
</style>
</head>

<body id="page-top">
 
		<!-- Topbar -->
		<nav
			class="navbar navbar-expand navbar-light topbar mb-4 shadow fixed-top"
			style="height: 50px; border-bottom: 1px solid #d9d9d9; border-top: 4px solid #4e73df; background: #f2f2f2;">
			<div class="container">
				<!-- topbar codeblue logo -->
				<a class="navbar-brand text-primary mr-0 p-1" href="/"><img src="/img/codeBlue.png" width="100px"></a> 
				<a class="btn btn-sm btn-default mx-2 hov-g text-dark" href="/QnA">QnA</a>

				<!-- Topbar Search -->
				<div class="input-group">
					<input type="text"
						class="form-control  form-control-sm bg-light border-1"
						placeholder="검색어" style="width: 400px !important">
					<div class="input-group-append">
						<button class="btn btn-primary btn-sm" type="button">
							<i class="fas fa-search fa-sm"></i>
						</button>
					</div>
				</div>

				<div class="d-felx justify-content-end" style="width: 600px">
					<a class="ml-3 btn btn-sm hov-p text-primary" href="/login">로그인</a>
					<a class=" btn ml-1 btn-sm btn-primary" href="/register">회원가입</a>
				</div> 
			</div>
		</nav>
		<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container">
			<div class="row"> 
			
				<!-- Side Bar -->
				<div class="col-sm-1 p-0 " style="border-right: 1px solid #d9d9d9;">
					<nav class="navbar pl-0 sticky-container">
						<div style="margin-top: 70px">
							<ul class="nav flex-column">
								<li class="pl-0"><small>질문</small></li> 
								<li class="nav-item pl-1"><a class="nav-link pl-2 font-weight-bold pt-1 pb-0" href="/">today</a></li> 
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-danger font-weight-bold pt-1 pb-0" href="/">hot 🔥</a></li>
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-warning font-weight-bold pt-1 pb-0" href="/">help!</a></li>
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-success font-weight-bold pt-1 pb-0" href="/">ongoing</a></li>
								<li class="mt-2"><small>조회</small></li> 
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">유저</a></li>
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">태그</a></li>
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">랭킹</a></li>
							</ul>
						</div> 
					</nav>
				</div>
				<!-- Side Bar End -->
				
				<!-- Page Content -->
				<div class="col-sm-8">
					<!-- Page Heading -->
					<div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top: 80px">
						<h4 class="text-gray-800 mb-0">최근 올라온 질문</h4>
						<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow"><i class="mr-2 fas fa-plus fa-sm text-white-50"></i>질문 올리기</a> 
					</div><!-- page Heading End -->
					<hr>
					
					<div style="height:1000px;">
					<h1>도움</h1>
					</div>
				</div>
				<!-- Page Content End -->
				
				
			</div>
		</div> 

	<!-- Footer -->
	<footer class="sticky-footer text-light" style="background: #333333">
		<div class="container my-auto">
			<div class="copyright text-right my-auto">
				<span>Copyright &copy; codeBlue 2019</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->


	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/chart.js/Chart.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="js/demo/chart-area-demo.js"></script>
	<script src="js/demo/chart-pie-demo.js"></script>
</body>

</html>
