<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>FAQ - 코드블루</title>
<!-- import JQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">

<style>
	.wrapper {
	    display: grid;
	    grid-template-columns: 33% 33% 33%;
	    grid-template-rows: 34vh 34vh;
	}
</style> 
</head>
<body id="page-top">
 
		<!-- Topbar -->
		<div id="topBar"></div>
		<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container">
			<div class="row"> 
			
				<!-- Side Bar -->
				<div class="col-sm-1 p-0 " style="border-right: 1px solid #d9d9d9;" id="leftSideBar">
				</div>
				<!-- Side Bar End -->
				
				<!-- Page Content -->
				<div class="col-sm-11">
					
					 <!-- Page Content -->
			       	<div class="container-fluid px-4 pt-4" >
						<div class="border-0 my-2" > 
							<!-- Page Content -->
							<div>
								<!-- heading -->
								<h1 class="h3 text-gray-800 mb-2 font-weight-bold NotoSans mt-5 mb-3 mx-2">제휴병원</h1>		
								<div class="d-flex m-2">
									<input type="text" class="form-control form-control-sm" placeholder="병원검색" id="hospitalSearchWord" style="width: 30%">
									<button type="button" class="btn btn-primary btn-sm" id="hospitalSearch">검색</button>
								</div>
								<hr>						
								<!-- page Heading End -->
								<!-- hospital Board -->
								<div id="hospital" class="wrapper mb-4 text-dark" style="height: 100%"></div>
								<hr>
								<button type="button" id="prevBtn" class="btn btn-primary">이전</button>
								<button type="button" id="nextBtn" class="btn btn-primary">다음</button>
			
							</div>
							<!--  Page Content End -->
						</div>
					</div> 
				</div>
				<!-- Page Content End -->
	
			</div><!-- row end -->
			
		</div>
	
	<!-- Footer -->
	<div id="footer"></div>
	<!-- End of Footer -->
	
<!-- ETC -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded bg-primary" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하고 싶으시면 아래 로그아웃 버튼을 클릭해주세요!</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	
  	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>

</body>
<script>
var currentPage = 1;
var searchWord = null;
var rowPerPage = 6;	

$(document).ready(function(){

	// 초기 실행
	hospitalAppend(currentPage);
	console.log("rowPerPage"+rowPerPage);
	//이전버튼
	$("#prevBtn").click(function(){
		$("#hospital").empty();
		hospitalAppend(--currentPage);
	})
	
	//다음버튼 
	$("#nextBtn").click(function(){
		$("#hospital").empty();
		hospitalAppend(++currentPage);
	})
	
	//검색버튼
	$("#hospitalSearch").click(function(){
		$.ajax({
			url:"/rest/adminHospital",
			method:"POST",
			data:{	"searchWord": $("#hospitalSearchWord").val()},
			success: function(json){
				console.log(json);
				currentPage = json.currentPage;
				lastPage = json.lastPage;
				$("#searchWord").val(json.searchWord);
				searchWord = json.searchWord;
				BtnShow(currentPage,lastPage);
				$("#hospital").empty();
				let hospital;
				$(json.list).each(function(index,item){
					hospital = "<div class='card m-2 p-4 border-0 bg-gray-300'>"
					hospital +="<img src='img/hospital.svg' width='30%'><hr><a class='nav-link p-0 font-weight-bold h5 mb-1' href='/getHospitalOne?hospitalId=";
					hospital +=item.hospitalId;
					hospital +="'>"+item.hospitalName
					hospital +="</a>";
					hospital +="<p class='mb-0'>"+item.hospitalNumber
					hospital +="</p>" 
					hospital +="<p class='mb-0'>" + item.region.regionName;
					hospital +="</p>";
					hospital += "<p class='mb-0'>" + item.hospitalAddress;
					hospital += "</p><p class='mb-0'>"+item.hospitalAddress2;
					hospital += "</p></div>";
					$("#hospital").append(hospital)
				})
			}
		})
	});
	
//document
})
	
	function BtnShow(currentPage, lastPage){
	console.log("currentPage"+currentPage+"/ lastPage"+lastPage);
		if(currentPage <= 1){
			$("#prevBtn").hide();
		}else{
			$("#prevBtn").show();
		}
		if(currentPage >= lastPage){
			$("#nextBtn").hide();
		}else{
			$("#nextBtn").show();
		}
	}
	
	function hospitalAppend(pageNum){
		console.log("함수 실행");
		$.ajax({
			url : "/rest/adminHospital",
			method : "post",
			data : {"currentPage" : pageNum,
					"rowPerPage" : rowPerPage},
			success : function(json){
				console.log(json);
				console.log("rowP1erPage", rowPerPage);
				let hospital;
				$(json.list).each(function(index,item){
					hospital = "<div class='card m-2 p-4 border-0 bg-gray-300'>"
					hospital +="<img src='img/hospital.svg' width='30%'><hr><a class='nav-link p-0 font-weight-bold h5 mb-1' href='/hospitalOne?hospitalId=";
					hospital +=item.hospitalId;
					hospital +="'>"+item.hospitalName
					hospital +="</a>";
					hospital +="<p class='mb-0'>"+item.hospitalNumber
					hospital +="</p>" 
					hospital +="<p class='mb-0'>" + item.region.regionName;
					hospital +="</p>";
					hospital += "<p class='mb-0'>" + item.hospitalAddress;
					hospital += "</p><p class='mb-0'>"+item.hospitalAddress2;
					hospital += "</p></div>";
					$("#hospital").append(hospital)
				})
			}
		})
	}

</script>
</html>