<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>코드블루 - 건강에 대한 호기심의 꽃이 피는 곳</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">
</head>
<body id="page-top">
 
	<!-- Topbar -->
	<div id="topBar"></div>
	<!-- End of Topbar -->
	
	<!-- Begin Page Content -->
	<div class="NotoSans">
		<div class="alert-primary p-3" style="background: linear-gradient(to bottom, #99ccff 0%, #dce3f9 100%)">
			<div class="container text-center" style="padding-top: 120px;padding-bottom: 120px">
					<h4 class="text-primary mb-0 mt-2 font-weight-bold"> 건강에 대한 호기심이 꽃 피는 곳 </h4>
					<hr>
					<img src="/img/codeBlue.png" width="78%">
					<hr>
					<img class="mt-5 py-5 mb-4" src="/img/ask.svg" width="350px"><br>
					<h3 class="text-primary"><strong>코드블루</strong>는 건강의학지식기반 지식교류서비스 입니다.</h3>
			</div>
		</div>
		
		<div class="container text-center py-5 my-2">
			<h3 class="text-primary mb-0 mt-3 font-weight-bold">코드블루는 어떻게 운영될까요?</h3>
			<hr>
			<img class="py-5" src="/img/questionMark.svg" width="350px"><br>
			<h4 class="text-primary mb-3">코드블루에서는 사용자가 올린 질문이나 궁금한 내용, 고민에 대해 다른<br>사용자들이 자발적으로 답을 달면서 지식을 주고받습니다.</h4>
		</div>
		
		<div class="alert-primary">
			<div class="container text-center py-5 my-2">
					<h3 class="text-primary mb-0 mt-3 font-weight-bold">코드블루는 건강한 교류서비스 유지를 위해 노력합니다.</h3>
					<hr>
					<img class="m-4 py-2" src="/img/obs.svg" width="350px"><br>
					<h4 class="text-primary mb-3"><strong>코드블루</strong>는 건강한 교류 활동이 유지 될 수 있도록 건강한 교류 문화를 활성화 하고 유지하기 위해 힘씁니다.</h4>
			</div>
		</div>
		
		<div class="container text-center py-5 mb-4">
			<h3 class="text-primary pt-2 font-weight-bold">코드블루는 어떻게 만들어졌나요?</h3>
			<hr>
			<i class="fab fa-bootstrap text-primary fa-5x mx-3"></i>
			<i class="fab fa-java text-primary fa-5x mx-3"></i>
			<i class="fab fa-js-square text-primary fa-5x mx-3"></i>
			<i class="fas fa-leaf text-primary fa-5x mx-3"></i>
			<i class="fab fa-html5 text-primary fa-5x mx-3"></i>
			<i class="fab fa-css3-alt text-primary fa-5x mx-3"></i>
			<i class="fab fa-github text-primary fa-5x mx-3"></i>
			<i class="fas fa-code text-primary fa-5x mx-3"></i>
			<hr>
			<small>코드블루는 크루들의 <a>💙</a>으로 만들어졌습니다. 크루 상시채용중./</small>
		</div>
		
		<div class="alert-primary text-center p-5" style="background: linear-gradient(to top, #99ccff 0%, #dce3f9 100%);">
			<div class="container text-center mb-2">
				<h3 class="text-primary mb-0 mt-3 font-weight-bold">코드블루 크루를 소개합니다.</h3>
				<hr>
				<div class="row">
					<div class="col-sm-2 text-center hov-p p-3 btn" align="center" style="color:#293c74">
						<a href="https://github.com/crazy-oung"><img class="rounded-circle shadow" src="/img/profile.svg" width="100px"></a>
						<p class="text-center my-1">한다영</p>
						<small>팀장</small>
					</div>
					<div class="col-sm-2 text-center hov-p p-3 btn" align="center" style="color:#293c74">
						<a href="https://github.com/Shin-hyoil"><img class="rounded-circle shadow" src="/img/profile.svg" width="100px"></a>
						<p class="text-center my-1">신효일</p>
						<small>팀원</small>
					</div>
					<div class="col-sm-2 text-center hov-p p-3 btn" align="center" style="color:#293c74">
						<a href="https://github.com/Yu-Yung-Ju"><img class="rounded-circle shadow" src="/img/profile.svg" width="100px"></a>
						<p class="text-center my-1">유영주</p>
						<small>팀원</small>
					</div>
					<div class="col-sm-2 text-center hov-p p-3 btn" align="center" style="color:#293c74">
						<a href="https://github.com/apllec2960"><img class="rounded-circle shadow" src="/img/profile.svg" width="100px"></a>
						<p class="text-center my-1">이정원</p>
						<small>팀원</small>
					</div>
					<div class="col-sm-2 text-center hov-p p-3 btn" align="center" style="color:#293c74">
						<a href="https://github.com/Lee-JinHyeok"><img class="rounded-circle shadow" src="/img/profile.svg" width="100px"></a>
						<p class="text-center my-1">이진혁</p>
						<small>팀원</small>
					</div>
					<div class="col-sm-2 text-center hov-p p-3 btn" align="center" style="color:#293c74">
						<a href="https://github.com/whddnjs117"><img class="rounded-circle shadow" src="/img/profile.svg" width="100px"></a>
						<p class="text-center my-1">정종원</p>
						<small>팀원</small>
					</div>
				</div><!-- row end -->
			</div>
			<small>이미지를 클릭하면 깃허브로 이동합니다. 💙 </small>
		</div>
		
	</div><!-- content container end -->
	
<!-- ETC -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded bg-primary" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하고 싶으시면 아래 로그아웃 버튼을 클릭해주세요!</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>
  
	<!-- Footer -->        
	<div id="footer"></div>
	<!-- End of Footer -->
	
	
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	
	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	
  	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>

</body>

</html>
