<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>로그인 - 코드블루</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="background: #ebebeb; height: 94vh">
 
	<!-- Topbar -->
	<div id="topBar"></div>
	<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container" style="height: 100%" align="center">  
			<div class="p-5 mt-5" style="width: 50%"> 
				<p class="text-center">
					<a href="/">
						<img src="/img/codeBlueIcon.png" width="50px"><br>
						<img class="mb-4" src="/img/codeBlue.png" width="100px">
					</a> 
				</p>
			</div>
				<!-- login Form begin -->
				<div class="card shadow pt-2 px-2 mx-5 text-left" style="width: 380px"> 
					<small class="text-center card p-2 alert-primary border-0">
						DEMO 용 관리자 계정 💨 <br>
						ID: ndodshon0@opera.com | PW: 50111<br>
						<button class="btn btn-sm btn-blick btn-primary mt-1" onclick="adminLogin()">관리자로 바로 로그인 <small>(귀찮은 사람들을 위해)</small></button>
					</small>
					<form class="was-validated card-body" action="/login" method="post">
					  <div class="form-group">
					    <label class="text-dark font-weight-bold" for="id">아이디</label>
					    <input type="email" class="form-control form-control-sm" id="userId" placeholder="E-Mail@example.com" value='aalcott7s@ucsd.edu' name="userId" required>
					    <div class="valid-feedback">좋아요.</div>
					    <div class="invalid-feedback">올바른 이메일을 입력해주세요.</div>
					  </div> 
					  <div class="form-group">
					    <label class="text-dark font-weight-bold" for="pw"><span class="mr-4">비밀번호</span>
					     <sub class="text-center ml-5 pl-4"><a href="/accountRecovery" style="padding: 0px !important">비밀번호를 잊어버리셨나요?</a></sub>
					    </label> 					   
					    <input type="password" class="form-control form-control-sm" value='2243' id="userPw" placeholder="password" name="userPw" required>
					    <div class="valid-feedback">좋아요.</div>
					    <div class="invalid-feedback">비밀번호를 입력해주세요.</div>
					  </div> 
					  <button type="submit" class="btn btn-block btn-primary join" id="login">로그인</button> 
					</form>  
				</div>
				<!-- login Form end --> 
				<p class="text-center m-2">
					<a class="nav-link" href="/register" style="padding: 0px !important">아직 회원이 아니신가요?</a>
					<a class="nav-link" href="/registerExpert" style="padding: 0px !important">전문가 이신가요?</a>
					
				</p> 		
		</div> 
		<!-- Page Content End --> 
		 


	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

  	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>
  	
</body>
<script> 
function adminLogin(){
	console.log("adminLogin click");
	console.log("login ajax after ");
	$.ajax({
		url:"/login",
		data:{"userId" : "ndodshon0@opera.com" , "userPw" : "50111" },
		method : "post",
		success: function (json){
			location.href="/admin";
		}
	})
}
	
</script>
</html>