<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>질문 수정 - 코드블루</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- JQuery Library import -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">



</head>

<body id="page-top" style="background: #ebebeb;" >
 		
	<!-- Topbar -->
	<div id="topBar"></div>
	<!-- End of Topbar -->
		
		<div class='content pb-4'>
		<!-- Begin Page Content -->
		<div class="container" style="height: 100%" align="center">  
			<div class="pt-4 mt-5 text-left" > 
				<p class="text-center">
					<a href="/">
						<img src="/img/codeBlueIcon.png" width="50px"><br>
						<img class="mb-1" src="/img/codeBlue.png" width="100px">
					</a> 
				</p>
				
				<!-- ask Form begin -->
				<div class="card shadow p-3 mx-5" style="height: 100%">  
					<form method="post">
						<input class="form-control form-control-sm mb-2" placeholder="아이디" id="id" hidden="hidden">
						<label class="text-dark font-weight-bold">분야</label>
						<select id="feild" class="form-control form-control-sm mb-2"></select>
						<label class="text-dark font-weight-bold">제목</label>
						<input class="form-control form-control-sm mb-2" placeholder="제목" id="title">
						<label class="text-dark font-weight-bold">내용</label>
						
						<div class="mb-3" style="height: 100%">
					  		<div id="summernoteForModify"></div>
					  	</div>
					  <hr>
					  <label class="text-dark font-weight-bold">태그</label>
					  <input class="form-control form-control-sm mb-2" placeholder="태그" id="tags">
					</form>
				</div>
				<!-- ask Form end --> 
				<button id="submit" class="btn btn-primary shadow mt-3 px-5  ml-5">질문 등록</button>
				<button id="cancel" class="btn btn-primary shadow mt-3 px-5  ml-5">츼소</button>
			</div> 		
		</div>	
		</div> 
		<!-- Page Content End --> 
		 
<!-- ETC -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded bg-primary" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하고 싶으시면 아래 로그아웃 버튼을 클릭해주세요!</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>
  
	<!-- Footer -->        
	<div id="footer"></div>
	<!-- End of Footer -->

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	
	<!-- summer note scripts -->
	<script src="js/summernote/summernote-bs4.min.js"></script>
	<script src="js/summernote/summernote-ko-KR.js"></script>
	<script src="js/summernote/summernote.min.js"></script> 
	
  	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>
	
</body>
<script>
	
	$(document).ready(function() {
		
		$.ajax({
			url : "/rest/getLoginUser",
			method : "get",
			success : function(json){
				console.log(json);
				$("#id").val(json.userId);
			}
		})
		
		$.ajax({
			url : "/rest/getFeildList",
			method : "get",
			success : function(json){
				console.log(json);
				let feild;
				$(json).each(function(index,item){
					feild = "<option value='";
					feild += item.feildId;
					feild += "'>";
					feild += item.feildName;
					feild += "</option>";
					$("#feild").append(feild);
				})
			}
		})
		
		$('#summernoteForModify').summernote({
		  toolbar: [
				['style', ['style']],
				['style', ['bold', 'italic', 'underline', 'clear']],
				['font', ['strikethrough', 'superscript', 'subscript']],
				['fontsize', ['fontsize']],
				['color', ['color']],
				['para', ['ul', 'ol', 'paragraph']],
				['height', ['height']],
				['fontsize', ['8','10','10','10','10']],
				['para', ['ul', 'ol', 'paragraph']],
				['table', ['table']],
				['insert', ['link', 'picture', 'video']]
			],
		lang : 'ko-KR',
		tabsize: 4,
		height: 500
	});
	  
	//질문 상세 정보 가져오기
	$.ajax({
		url : "/rest/questionBoardOne",
		method : "post",
		data : {"questionId" : getParam("questionId")},
		success: function(json) {
			console.log(json);
			$("#title").val(json.questionTitle);
			$("#feild").val(json.feild.feildId);
			$(".note-editable").empty();
			$(".note-editable").append(json.questionContent);
			$("#tags").val(json.questionTags);
		}
	});
		
		
		
		$("#submit").click(function(){
			console.log($("#summernote").val());
			if(confirm( '질문을 수정하시겠습니까?' )){
				console.log($("#id").val());
				console.log($("#tags").val());
				
				$.ajax({
					url:"/rest/modifyQuestion",
					method : "post",
					data : {"questionId" : getParam("questionId"),
							"user.userId" : $("#id").val(),
							"feild.feildId" :$("#feild").val(),
							"questionTitle" : $("#title").val(),
							"questionContent" : $('#summernoteForModify').summernote('code'),
							"questionTags" : $("#tags").val()},
					success:function(){
						console.log("성공");						
						alert("질문 수정을 완료 했습니다! \n답변이 달리면 알려드리겠습니다! 🙂");
						
						location.href="/QnA";
					}
				})
			}
		});
	  
	});
</script>
</html>