<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>비밀번호 초기화 - 코드블루</title>

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">
<!-- import JQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body style="background: #ebebeb; height: 94vh">
 
	<!-- Topbar -->
	<div id="topBar"></div>
	<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container" style="height: 100%" align="center">  
			
			<div class="p-5 m-5 text-left" style="width: 50%">	
				<p class="text-center">
					<a href="/">
						<img src="/img/codeBlueIcon.png" width="50px"><br>
						<img class="mb-4" src="/img/codeBlue.png" width="100px">
					</a> 
				</p>			
				<!-- reset Form begin -->
				<div class="card shadow pt-2 px-2 mx-5"> 
					<form class="was-validated card-body" action="/resetPassword" method="post">
					<input type="text" class="form-control form-control-sm" id="userId" readonly> 
					  <div class="form-group">
					    <label class="text-dark font-weight-bold" for="pw">비밀번호</label>
					    <input type="password" class="form-control form-control-sm" id="pw" placeholder="비밀번호" required>
					    <div class="valid-feedback">좋아요.</div>
					    <div class="invalid-feedback">새 비밀번호를 입력해주세요.</div>
					  </div>
					  <div class="form-group">
					    <label class="text-dark font-weight-bold" for="pw2">비밀번호 확인</label>
					    <input type="password" class="form-control form-control-sm" id="pw2" placeholder="비밀번호" required>
					    <div class="valid-feedback">좋아요.</div>
					    <div class="invalid-feedback">비밀번호를 한번 더 입력해주세요.</div>
					  </div> 
					  <button type="button" id="reset" class="btn btn-block btn-outline-primary">비밀번호 변경</button>
				  	</form>
				</div>
				<!-- reset Form end -->
			</div> 
		</div> 
		<!-- Page Content End --> 
		 


	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

  	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>
  	
</body>
<script> 
	// hide parameters from address
/* 	history.replaceState({},null,location.pathname); */

	
	$("#reset").click(function(){
		console.log("비밀번호 변경!");
		if($("#pw").val() != $("#pw2").val()){
			alert("비밀번호가 일치하지 않습니다!!");
			return;
		}
		
		$.ajax({
			url : "/rest/resetPassword",
			method : "post",
			data : {
					"userPw" : $("#pw").val()
					}, 
			success : function(json){
				console.log("실행");
				location.href="/login";
			}                                                                                                                                                                                                                                          
		})
	})
</script>
</html>
