<!DOCTYPE html>
<html>
<head>
<style>
.wrapper {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}
</style> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>유저 - 코드블루</title>
<!-- import JQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">
</head>
<body id="page-top">
 
		<!-- Topbar -->
		<div id="topBar"></div>
		<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container">
			<div class="row"> 
			
				<!-- Side Bar -->
				<div class="col-sm-1 p-0 " style="border-right: 1px solid #d9d9d9;" id="leftSideBar">
				</div>
				<!-- Side Bar End -->
				
				<!-- Page Content -->
				<div class="col-sm-11">
				
					<!-- Page Heading -->
					<div class="d-sm-flex align-items-center justify-content-between mb-2 mt-5 pt-5">
						<h2 class="text-gray-800 font-weight-bold mx-3 mt-2">유저 </h2>
					</div><!-- page Heading End -->
					
					<div class="d-flex m-2">
						<input type="text" autocomplete="off" class="form-control form-control-sm" id="searchWord" style="width: 10%">
						<button type="button" class="btn btn-sm btn-primary" id="searchUserBtn">검색</button>
					</div>
					<hr>
					
					<!-- ------------------------------------------------본문------------------------------------------------ -->
					<div class="wrapper" id="userList"></div>
					
					<div class="d-flex justify-content-between">  
					    <div class="p-3" id="totalRow"></div>
					    <div class="p-3">
						    <button type="button" class="btn btn-primary btn-sm" id="prevBtnd">이전</button>
						    <span id="pageInfo"></span>
						    <button type="button" class="btn btn-primary btn-sm" id="nextBtnd">다음</button>
					    </div>
					</div>
					
				<!-- Page Content End -->
	
			</div><!-- row end -->
			
		</div>
		</div> 
	
	<!-- Footer -->
	<div id="footer"></div>
	<!-- End of Footer -->
	
<!-- ETC -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded bg-primary" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">로그아웃 하고 싶으시면 아래 로그아웃 버튼을 클릭해주세요!</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
          <a class="btn btn-primary" href="/logout">로그아웃</a>
        </div>
      </div>
    </div>
  </div>

	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>
	
  	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>

</body>
<script>
	var currentPage = 1;
	var lastPage = 0;
	var rowPerPage = 36;
	var totalRow = 0;
	var searchWord = null;
	
	// 기본 홈(div반복)
	$.ajax({
		url : "/rest/getUserList",
		method : "post",
		data : {"currentPage" : currentPage},
		success : function(json){
			console.log(json);
			subInfo(json);
			BtnShow(currentPage,lastPage);
			$("userList").empty();
			$(json.list).each(function(index,item){
				append(index,item);
			});
		}
	});
	
	//검색버튼
	$("#searchUserBtn").click(function(){
		console.log("검색시작");
		$.ajax({
			url:"/rest/getUserList",
			method:"POST",
			data:{"searchWord": $("#searchWord").val()},
			success: function(json){
				// map에서 넘긴거 받아야 함
				console.log(json);
				subInfo(json);
				BtnShow(currentPage,lastPage);
				$("#userList").empty();
				$(json.list).each(function(index,item){
					append(index,item);
				});
			}
		})
	});
	
	// 이전버튼
	$("#prevBtnd").click(function(){
		$.ajax({
			url : "/rest/getUserList",
			method : "post",
			data : {"currentPage" : currentPage-1,
				"searchWord" : $("#searchWord").val()},
			success : function(json){
				// map에서 넘긴거 받아야 함
				console.log(json);
				subInfo(json);
				BtnShow(currentPage,lastPage);
				$("#userList").empty();
				$(json.list).each(function(index,item){
					append(index,item);
				});
	
			}
		});
	});
	
	// 다음버튼
	$("#nextBtnd").click(function(){
		$.ajax({
			url : "/rest/getUserList",
			method : "post",
			data : {"currentPage" : currentPage+1,
				"searchWord" : $("#searchWord").val()},
			success : function(json){
				console.log(json);
				subInfo(json);
				BtnShow(currentPage,lastPage);
				$("#userList").empty();
				$(json.list).each(function(index,item){
					append(index,item);
				});
	
			}
		});
	});
	
	// ajax html뛰우는 함수
	function append(index,item){
		html = "<div class='d-flex p-2'><div id='img'><img class='rounded-circle' src='/img/profile.svg' width='80px'></div>";
		html += "<div class='px-2 py-3'><a href='/userOne?userId="+item.userId+"'>"+item.userName+"</a><br>";
		html += item.rank.rankName+"</div></div>";
		$("#userList").append(html);
	}
	// 화면뛰울때 필요한 함수(현재,마지막 페이지 등)
	function subInfo(json){
		currentPage = json.currentPage;
		lastPage = json.lastPage;
		totalRow = json.totalRow;
		$("#searchWord").append(json.searchWord);
		$("#pageInfo").empty();
		$("#pageInfo").append(currentPage+"/"+lastPage);
		$("#totalRow").empty();
		$("#totalRow").append("유저 : "+totalRow+"명");
		
	}
	
	//이전 다음 버튼이 숨기는지 안숨기는지 함수로변경
	function BtnShow(currentPage,lastPage) {
		if(currentPage == 1){
			$("#prevBtnd").hide();
		} else {
			$("#prevBtnd").show();
		}
		if(currentPage <lastPage) {
			$("#nextBtnd").show();
		} else {
			$("#nextBtnd").hide();
		}
	}

</script>
</html>
