<!DOCTYPE html>
<html>

<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>공지사항 - 코드블루</title>
<!-- import JQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">
</head>

<body id="page-top">
 
	<!-- Topbar -->
	<div id="topBar"></div>
	<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container" height="100%">
			<div class="row"> 
			
				<!-- Side Bar -->
				<div class="col-sm-1 p-0 " style="border-right: 1px solid #d9d9d9;">
					<nav class="navbar pl-0 sticky-container">
						<div style="margin-top: 70px">
							<ul class="nav flex-column">
								<li class="pl-0"><small>질문</small></li> 
								<li class="nav-item pl-1"><a class="nav-link pl-2 font-weight-bold pt-1 pb-0" href="/">today</a></li> 
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-danger font-weight-bold pt-1 pb-0" href="/">hot 🔥</a></li>
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-warning font-weight-bold pt-1 pb-0" href="/">help!</a></li>
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-success font-weight-bold pt-1 pb-0" href="/">ongoing</a></li>
								<li class="mt-2"><small>조회</small></li> 
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">유저</a></li>
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">태그</a></li>
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">랭킹</a></li>
							</ul>
						</div> 
					</nav>
				</div>
				<!-- Side Bar End -->
				
				<!-- Page Content -->
				<div class="col-sm-10">
					
					<!-- Page Heading -->
					<div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top: 80px">
						<ul class="nav nav-tabs">
						    <li class="nav-item">
						      <a class="nav-link active" href="#"> profile</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link" href="#">Link</a>
						    </li>
						</ul>		
					</div>
					<!-- page Heading End -->

					<!-- 1/4 (user)-->
					<div>
						<div>통계</div>

					</div>
					<hr>
					<div> 선랙리스트</div>
					<hr>
					<!-- 2/4 -->
					<div class="row">
						<div class="col-md-6">
							<label>question</label><h5 id="questionCount"></h5>
							<div id="questionList"></div>
						</div>
						<div class="col-md-6">
							<label>reputation</label>
						</div>
					</div>
					<hr>
					<!-- 3/4 -->
					<div class="row">
						<div class="col-md-6">
							<label>answer</label>
							<div id="answerList"></div>
						</div>
						<div class="col-md-6">
							<label>tag</label>
						</div>
					</div>
					<hr>
					
					<!-- 4/4 -->
					
			</div>
		</div> 
	</div>
	<!-- Footer -->
	<div id="footer"></div>
	<!-- End of Footer -->


	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/chart.js/Chart.min.js"></script>
  	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>
	
</body>
<!-- 구글차트 js -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

//파라메터 정보가 저장될 오브젝트
//common.js 같은 모든 페이지에서 로딩되는 js 파일에 넣어두면 됨.
var getParam = function(key){
 var _parammap = {};
 document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
     function decode(s) {
         return decodeURIComponent(s.split("+").join(" "));
     }

     _parammap[decode(arguments[1])] = decode(arguments[2]);
 });

 return _parammap[key];
};
$("#userId").val(getParam("userId"));

$(document).ready(function() {
	
	var currentPage  = 1;
	var rowPerPage = 10;
	
	//이름출력.
	$.ajax({
		url :"/rest/profile",
		method : "post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
		
			$(json).each(function(index, item){
			
			let	introduce = "<div><h2>"+item.userName+"</h2></div>";
				$("#userName").append(introduce);
			});
		}
	});
	
	//내 질문 리스트 출력.
	$.ajax({
		url :"/rest/profileQuestionBoard",
		method : "post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
			$("#list").empty();
			$("#headlist").empty();
			let boardHead  = "<tr><th>질문 번호</th>";
				boardHead += "<th>질문 제목</th>";
				boardHead += "<th>질문 날짜</th></tr>";
				$("#headlist").append(boardHead);
			$(json).each(function(index, item){
				
			let board =  "<tr><td><span class='badge badge-primary m-0 mr-2'>Q</span>"+item.questionId+"</td>";
				board += "<td><a href='/questionBoardOne?questionId="+item.questionId+"'>"+item.questionTitle+"</a></td>";
				board += "<td>"+item.questionDatetime+"</td></tr>";
		
				$("#questionList").append(board);
			});
		}
	});
	
	// 답변 리스트 출력.
	$.ajax({
		url :"/rest/profileQuestionComment",
		method : "post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
			$("#list").empty();
			$("#headlist").empty();
			let commentHead  = "<tr><th>댓글 번호</th>";
				commentHead += "<th>댓글 내용</th>";
				commentHead += "<th>댓글 날짜</th></tr>";
				$("#headlist").append(commentHead);
			$(json).each(function(index, item){
			
				let comment =  "<tr><td>"+item.questionCommentId+"</td>";
					comment += "<td>"+item.questionCommentContent+"</td>";
					comment += "<td>"+item.questionCommentDatetime+"</td></tr>";
				$("#answerList").append(comment);
			});
		}
	});

	
	$.ajax({
		url : "/rest/QuestionCount",
		method :"post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
			$(json).each(function(index, item){
				$("#questionCount").append(item);
			})
		} 
	
	})
		
});
</script>
</html>
