<!DOCTYPE html>
<html>

<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>공지사항 - 코드블루</title>
<!-- import JQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">
</head>

<body id="page-top">
 
	<!-- Topbar -->
	<div id="topBar"></div>
	<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container">
			<div class="row"> 
			
				<!-- Side Bar -->
				<div class="col-sm-1 p-0 " style="border-right: 1px solid #d9d9d9;">
					<nav class="navbar pl-0 sticky-container">
						<div style="margin-top: 70px">
							<ul class="nav flex-column">
								<li class="pl-0"><small>질문</small></li> 
								<li class="nav-item pl-1"><a class="nav-link pl-2 font-weight-bold pt-1 pb-0" href="/">today</a></li> 
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-danger font-weight-bold pt-1 pb-0" href="/">hot 🔥</a></li>
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-warning font-weight-bold pt-1 pb-0" href="/">help!</a></li>
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-success font-weight-bold pt-1 pb-0" href="/">ongoing</a></li>
								<li class="mt-2"><small>조회</small></li> 
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">유저</a></li>
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">태그</a></li>
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">랭킹</a></li>
							</ul>
						</div> 
					</nav>
				</div>
				<!-- Side Bar End -->
				
				<!-- Page Content -->
				<div class="col-sm-11">
					
					<!-- Page Heading -->
					<div class="mb-4" style="margin-top: 80px">
						<ul class="nav nav-tabs">
						    <li class="nav-item">
						      <a class="nav-link" href="#">프로필</a>
						    </li>
						    <li class="nav-item">
						      <a class="nav-link active" href="#">활동</a>
						    </li>
						</ul>	
						<div id="user" style="text-align: right;"></div>
						  	
					</div>
					<!-- page Heading End -->

					<!-- 유저 통계 -->
					<div class="row">
						<div class="col-sm-6 ">
							<div class="card mb-4 d-flex justify-content-between p-4" style="position: relative; height: 20vh">
								<div class="row">
									<div class="col-sm-4">
										<h1 class="h3 font-weight-bold text-dark NotoSans">월별<br> 질문 수</h1>
									</div>
									<!-- Card Body -->
									<div class="col-sm-8">
										<div style="position: relative; height: 15vh">
											<canvas id="monthlyQuestionCountLineChart"></canvas>
										</div>
									</div>
								</div>
							</div>		
						</div>
						<div class="col-sm-6 ">
							<div class="card mb-4 d-flex justify-content-between p-4" style="position: relative; height: 20vh">
								<div class="row">
									<div class="col-sm-4">
										<h1 class="h3 font-weight-bold text-dark NotoSans">월별<br> 답변 수</h1>
									</div>
									<!-- Card Body -->
									<div class="col-sm-8">
										<div style="position: relative; height: 15vh">
											<canvas id="monthlyCommentCountLineChart"></canvas>
										</div>
									</div>
								</div>
							</div>		
						</div>
					</div>	

					<!-- 선택리스트 -->
					<div class="mb-4" style="margin-top: 80px">
						<ul class="nav nav-tabs">
						    <li class="nav-item">
						     	 <a class="nav-link active" href="#">요약</a>
						    </li>
						    <li class="nav-item">
						     	 <a class="nav-link" href="#" id="active">답변</a>
						    </li>
						    <li class="nav-item">
						    	  <a class="nav-link" href="#" id="active">질문</a>
						    </li>
						    <li class="nav-item">
						     	 <a class="nav-link" href="/userOneActiviy" id="active">태그</a>
						    </li>
						</ul>		
					</div>
					
					<!-- 위 버튼을 클릭하면 새로 출력하기 위한 div -->
					<div>
					<!-- 2/4 -->
					<div class="row">
						<div class="col-md-6">
							<label>질문</label><label id="questionCount" style="font-size: x-small;"></label>
							<table class="table table-hover">
									</thead>
									<!-- 내 질문/답변 list 출력 -->
									<tbody id="questionList"></tbody>
							</table>
						</div>
						<div class="col-md-6">
							<label>기여도</label>
						</div>
					</div>
					<hr>
					
					<!-- 3/4 -->
					<div class="row">
						<div class="col-md-6">
							<label>답변</label><label id="commentCount" style="font-size: x-small;"></label>
							<table class="table table-hover">
									<!-- 내 질문/답변 list 출력 -->
									<tbody id="answerList"></tbody>
							</table>
						</div>
						<div class="col-md-6">
							<label>태그</label>
						</div>
					</div>
					</div>
					<hr>
					
					<!-- 4/4 -->
					
			</div>
		</div> 
	</div>
	<!-- Footer -->
	<div id="footer"></div>
	<!-- End of Footer -->


	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/chart.js/Chart.min.js"></script>
  	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>
	
</body>
<script type="text/javascript">

//파라메터 정보가 저장될 오브젝트
//common.js 같은 모든 페이지에서 로딩되는 js 파일에 넣어두면 됨.
var getParam = function(key){
 var _parammap = {};
 document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
     function decode(s) {
         return decodeURIComponent(s.split("+").join(" "));
     }

     _parammap[decode(arguments[1])] = decode(arguments[2]);
 });

 return _parammap[key];
};
$("#userId").val(getParam("userId"));

$(document).ready(function() {
	
	var currentPage  = 1;
	var rowPerPage = 10;
	
	//이름출력.
	$.ajax({
		url :"/rest/profile",
		method : "post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
		
			$(json).each(function(index, item){
			
			let	introduce = "<div><h2>"+item.userName+"</h2></div>";
				$("#user").append(introduce);
			});
		}
	});
	
	//내 질문 리스트 출력.
	$.ajax({
		url :"/rest/profileQuestionBoard",
		method : "post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
			$("#list").empty();
			
			$(json).each(function(index, item){
				
			let board =  "<tr><td><span class='badge badge-primary m-0 mr-2'>Q</span>"+item.questionId+"</td>";
				board += "<td><a href='/questionBoardOne?questionId="+item.questionId+"'>"+item.questionTitle+"</a></td>";
				board += "<td>"+item.questionDatetime+"</td></tr>";
		
				$("#questionList").append(board);
			});
		}
	});
	
	// 답변 리스트 출력.
	$.ajax({
		url :"/rest/profileQuestionComment",
		method : "post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
			$("#list").empty();
			
			$(json).each(function(index, item){
			
				let comment =  "<tr><td><span class='badge badge-primary m-0 mr-2'>Q</span>"+item.questionBoard.questionId+"</td>";
					comment += "<td><a href='/questionBoardOne?questionId="+item.questionBoard.questionId+"'>"+item.questionCommentContent+"</a></td>";
					comment += "<td>"+item.questionCommentDatetime+"</td></tr>";
				$("#answerList").append(comment);
			});
		}
	});
	
	//답변 수 
	$.ajax({
		url : "/rest/CommentCount",
		method :"post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
			$(json).each(function(index, item){
				$("#commentCount").append(item);
			})
		} 
	
	})
	
	//질문 수
	$.ajax({
		url : "/rest/QuestionCount",
		method :"post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
			$(json).each(function(index, item){
				$("#questionCount").append(item);
			})
		} 
	})
	
	//해당 유저 월별 질문 차트
	var lineQuestionctx = document.getElementById("monthlyQuestionCountLineChart"); 
		var lineQuestionCount = [0,0,0,0,0,0,0,0,0,0,0,0];
	
		$.ajax({
			url:"/rest/questionChart",
			method:"post",
			data : {"userId" : getParam("userId")},
			success : function(json){
				console.log("chart"+json);			
				
				$(json).each(function(index, item){
					lineQuestionCount[item.questionMonth-1] = item.questionCount;
				})
				console.log(lineQuestionCount);
				yearlyQuestionCountChart.update();
			},
		});
	
		var yearlyQuestionCountChart = new Chart(lineQuestionctx, {
			type: 'line',
			  data: {
			    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
			    datasets: [{
			      label: "질문수",
			      lineTension: 0.3,
			      backgroundColor: "rgba(78, 115, 223, 0.05)",
			      borderColor: "rgba(78, 115, 223, 1)",
			      pointRadius: 3,
			      pointBackgroundColor: "rgba(78, 115, 223, 1)",
			      pointBorderColor: "rgba(78, 115, 223, 1)",
			      pointHoverRadius: 3,
			      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
			      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
			      pointHitRadius: 10,
			      pointBorderWidth: 2,
			      data: lineQuestionCount,
			    }],
			  },
			  options: {
			    maintainAspectRatio: false,
			    layout: {
			      padding: {
			        left: 10,
			        right: 25,
			        top: 25,
			        bottom: 0
			      }
			    },
			    scales: {
			      xAxes: [{
			        time: {
			          unit: 'date'
			        },
			        gridLines: {
			          display: false,
			          drawBorder: false
			        },
			        ticks: {
			          maxTicksLimit: 7
			        }
			      }],
			      yAxes: [{
			        ticks: {
			          maxTicksLimit: 5,
			          padding: 10,
			          beginAtZero: true
			        },
			        gridLines: {
			          color: "rgb(234, 236, 244)",
			          zeroLineColor: "rgb(234, 236, 244)",
			          drawBorder: false,
			          borderDash: [2],
			          zeroLineBorderDash: [2]
			        }
			      }],
			    },
			    legend: {
			      display: false
			    },
			    tooltips: {
			      backgroundColor: "rgb(255,255,255)",
			      bodyFontColor: "#858796",
			      titleMarginBottom: 10,
			      titleFontColor: '#6e707e',
			      titleFontSize: 14,
			      borderColor: '#dddfeb',
			      borderWidth: 1,
			      xPadding: 15,
			      yPadding: 15,
			      displayColors: false,
			      intersect: false,
			      mode: 'index',
			      caretPadding: 10,
			      callbacks: {
			        label: function(tooltipItem, chart) {
			          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
			          return datasetLabel + ': ' + tooltipItem.yLabel+"개";
			        }
			      }
			    },
			  }
		});	

		//해당 유저 월별 답변 차트
		var lineCommentctx = document.getElementById("monthlyCommentCountLineChart"); 
			var lineCommentCount = [0,0,0,0,0,0,0,0,0,0,0,0];
		
			$.ajax({
				url:"/rest/commentChart",
				method:"post",
				data : {"userId" : getParam("userId")},
				success : function(json){
					console.log("chart"+json);			
					
					$(json).each(function(index, item){
						lineCommentCount[item.questionMonth-1] = item.questionCount;
					})
					console.log(lineCommentCount);
					yearlyCommentCountChart.update();
				},
			});
		
			var yearlyCommentCountChart = new Chart(lineCommentctx, {
				type: 'line',
				  data: {
				    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				    datasets: [{
				      label: "질문수",
				      lineTension: 0.3,
				      backgroundColor: "rgba(78, 115, 223, 0.05)",
				      borderColor: "rgba(78, 115, 223, 1)",
				      pointRadius: 3,
				      pointBackgroundColor: "rgba(78, 115, 223, 1)",
				      pointBorderColor: "rgba(78, 115, 223, 1)",
				      pointHoverRadius: 3,
				      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
				      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
				      pointHitRadius: 10,
				      pointBorderWidth: 2,
				      data: lineCommentCount,
				    }],
				  },
				  options: {
				    maintainAspectRatio: false,
				    layout: {
				      padding: {
				        left: 10,
				        right: 25,
				        top: 25,
				        bottom: 0
				      }
				    },
				    scales: {
				      xAxes: [{
				        time: {
				          unit: 'date'
				        },
				        gridLines: {
				          display: false,
				          drawBorder: false
				        },
				        ticks: {
				          maxTicksLimit: 7
				        }
				      }],
				      yAxes: [{
				        ticks: {
				          maxTicksLimit: 5,
				          padding: 10,
				          beginAtZero: true
				        },
				        gridLines: {
				          color: "rgb(234, 236, 244)",
				          zeroLineColor: "rgb(234, 236, 244)",
				          drawBorder: false,
				          borderDash: [2],
				          zeroLineBorderDash: [2]
				        }
				      }],
				    },
				    legend: {
				      display: false
				    },
				    tooltips: {
				      backgroundColor: "rgb(255,255,255)",
				      bodyFontColor: "#858796",
				      titleMarginBottom: 10,
				      titleFontColor: '#6e707e',
				      titleFontSize: 14,
				      borderColor: '#dddfeb',
				      borderWidth: 1,
				      xPadding: 15,
				      yPadding: 15,
				      displayColors: false,
				      intersect: false,
				      mode: 'index',
				      caretPadding: 10,
				      callbacks: {
				        label: function(tooltipItem, chart) {
				          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
				          return datasetLabel + ': ' + tooltipItem.yLabel+"개";
				        }
				      }
				    },
				  }
			});	

	//----->차트 끝
	
});
</script>
</html>
