<!DOCTYPE html>
<html>

<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>공지사항 - 코드블루</title>
<!-- import JQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for codeBlue -->
<link href="css/codeBlue.css" rel="stylesheet">
</head>

<body id="page-top">
 
	<!-- Topbar -->
	<div id="topBar"></div>
	<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container" height="100%">
			<div class="row"> 
			
				<!-- Side Bar -->
				<div class="col-sm-1 p-0 " style="border-right: 1px solid #d9d9d9;">
					<nav class="navbar pl-0 sticky-container">
						<div style="margin-top: 70px">
							<ul class="nav flex-column">
								<li class="pl-0"><small>질문</small></li> 
								<li class="nav-item pl-1"><a class="nav-link pl-2 font-weight-bold pt-1 pb-0" href="/">today</a></li> 
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-danger font-weight-bold pt-1 pb-0" href="/">hot 🔥</a></li>
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-warning font-weight-bold pt-1 pb-0" href="/">help!</a></li>
								<li class="nav-item pl-1"><a class="nav-link pl-2 text-success font-weight-bold pt-1 pb-0" href="/">ongoing</a></li>
								<li class="mt-2"><small>조회</small></li> 
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">유저</a></li>
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">태그</a></li>
								<li class="nav-item"><a class="nav-link text-dark pl-2 pt-1 pb-0" href="/">랭킹</a></li>
							</ul>
						</div> 
					</nav>
				</div>
				<!-- Side Bar End -->
				
				<!-- Page Content -->
				<div class="col-sm-8">
					<!-- Page Heading -->
					<div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top: 80px">
						<h4 class="text-gray-800 mb-0">프로필</h4>
						
					</div><!-- page Heading End -->
					<!-- 1/4 (user)-->
					<div>
						<div class="row">
							<div class="col-md-2" id="img">
								<img src="/img/profile.svg" width="100px">
							</div>
							<div class="col-md-6" id="introduce"></div>
							<div class="col-md-4" id="information"></div>
						</div>
					</div>
					<hr>
					<!-- 2/4 (tag)-->
					<div>
						<div style="text-align: center">
							<div><h3>태그</h3></div>
							<div id="tag">태그 </div>
						</div>
					</div>
					<!-- 3/4 (list) -->
					<hr>
					<div>
						<div  style="text-align: center">
							<div> 
									<h3>내 게시글</h3> 
									<button type="button" id="questionBoard">내 질문</button> 
									<button type="button" id="questionComment">내 답글</button>
							 </div>
							<div id="list"></div>
						</div>
					</div>
					<hr>
					<!-- 4/4 (rank) -->
					<div>
						<div style="text-align: center"><h3>랭크</h3></div>
					</div>					
					<br>
					
					<button type="button" id="prevBtn" class="btn btn-primary">이전</button>
					<button type="button" id="nextBtn" class="btn btn-primary">다음</button>
					
				</div>
				
				<!-- Page rigth side bar -->
				<div class="col-sm-3 pt-5">
					<div class="card border-1 shadow bg-light border-bottom-primary mt-4">
						<small class='text-primary font-weight-bold card-header alert-primary px-3 border-0'>
							New! 새 소식이 있어요
						</small>
						<table class=" table table-sm mb-0">
							<tr>
								<td><a class='nav-link small px-2' href='#'><i class='far fa-comment-dots mx-1'></i>도와주세용</a></td>
							</tr>
							<tr>
								<td><a class='nav-link small px-2' href='#'><i class='far fa-comment-dots mx-1'></i>도와주세용</a></td>
							</tr>
							<tr>
								<td><a class='nav-link small px-2' href='#'><i class='far fa-comment-dots mx-1'></i>도와주세용</a></td>
							</tr>
							<tr>
								<td><a class='nav-link small px-2' href='#'><i class='far fa-comment-dots mx-1'></i>도와주세용</a></td>
							</tr>
						</table>			
						<small class='text-primary font-weight-bold card-header alert-primary px-3 border-0'>
							궁금한 것이 있나요?
						</small>	
						<table class=" table table-sm mb-0">
							<tr>
								<td><a class='nav-link small px-2' href='#'><i class='far fa-comment-dots mx-1'></i>도와주세용</a></td>
							</tr>
							<tr>
								<td><a class='nav-link small px-2' href='#'><i class='far fa-comment-dots mx-1'></i>도와주세용</a></td>
							</tr>
							<tr>
								<td><a class='nav-link small px-2' href='#'><img src='img/codeblueicon.png' width="15px">도와주세용</a></td>
							</tr>
							<tr>
								<td><a class='nav-link small px-2' href='#'><img src='img/codeblueicon.png' width="15px">도와주세용</a></td>
							</tr>
						</table>				
					</div>
				</div> <!-- rigth side bar end -->
				
			</div>
		</div> 

	<!-- Footer -->
	<div id="footer"></div>
	<!-- End of Footer -->


	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/chart.js/Chart.min.js"></script>
  	<!-- CodeBlue scripts -->
  	<script src="js/codeBlueUser.js"></script>
	
</body>
<script type="text/javascript">


//파라메터 정보가 저장될 오브젝트
//common.js 같은 모든 페이지에서 로딩되는 js 파일에 넣어두면 됨.
var getParam = function(key){
 var _parammap = {};
 document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
     function decode(s) {
         return decodeURIComponent(s.split("+").join(" "));
     }

     _parammap[decode(arguments[1])] = decode(arguments[2]);
 });

 return _parammap[key];
};
$("#userId").val(getParam("userId"));

$(document).ready(function() {
	$.ajax({
		url :"/rest/profile",
		method : "post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
		
			$(json).each(function(index, item){
			
			let	introduce = "<div><h2>"+item.userName+"</h2></div>";
				introduce += "<div>"+item.userId+"</div>";
				$("#introduce").append(introduce);
			
			let information = "<div>🚩"+item.region.regionName+"</div>";
				information += "<div>💓"+item.userBirthdate+"</div>";
				information += "<div>⏱"+item.userCreatetime+"</div>";
				
				$("#information").append(information);
				
			});
		}
	});

	
	$("#questionBoard").click(function(){
		
	$.ajax({
		url :"/rest/profileQuestionBoard",
		method : "post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
			$("#list").empty();
			$(json).each(function(index, item){
				
			let board =  "<div>"+item.questionId+"</div>";
				board += "<div>"+item.questionTitle+"</div>";
				board += "<div>"+item.questionDatetime+"</div>";
				
				$("#list").append(board);
			});
		}
	});
	})
	
	$("questionComment").click(function(){
		
	$.ajax({
		url :"/rest/profileQuestionComment",
		method : "post",
		data : {"userId" : getParam("userId")},
		success : function(json){
			console.log(json);
		
			$(json).each(function(index, item){
			
				let comment =  "<div>"+item.questionId+"</div>";
					comment += "<div>"+item.questionTitle+"</div>";
					comment += "<div>"+item.questionDatetime+"</div>";
				
				$("#list").append(comment);
			});
		}
	});
})
	
});
</script>
</html>
