<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.codeblue.test.hyol.HyolMapper">
	<!-- User 객체 -->
	<resultMap type="com.example.codeblue.vo.User" id="User"> 
		<!-- column은 테이블에서의 칼럼명  property는 클레스의 필드명 -->
		<result column="user_id" property="userId" ></result>
		<result column="user_name" property="userName" ></result>
		<result column="user_pw" property="userPw"></result>
		<result column="user_birthdate" property="userBirthdate" ></result>
		<result column="user_createtime" property="userCreatetime"></result>
		<result column="user_activity" property="userActivity"></result>
		
		<association property="region" resultMap="Region">
		</association>
		<association property="rank" resultMap="Rank">
		</association>
	</resultMap>
	<!-- Expert 객체 -->
	<resultMap type="com.example.codeblue.vo.Expert" id="Expert">
		<result column="expert_license_no" property="expertLicenseNo"></result>
		<result column="expert_license_issue_date" property="expertLicenseIssueDate"></result>
		
		<association property="feild" resultMap="Feild">
		</association>
		<association property="user" resultMap="User">
		</association>
	</resultMap>
	<!-- Rank 객체 -->
	<resultMap type="com.example.codeblue.vo.Rank" id="Rank">
		<result column="rank_id" property="rankId"></result>
		<result column="rank_name" property="rankName"></result>
	</resultMap>
	
	<!-- Region 객체 -->
	<resultMap type="com.example.codeblue.vo.Region" id="Region">
		<result column="region_id" property="regionId"></result>
		<result column="region_name" property="regionName"></result>
	</resultMap>
	<!-- Feild 객체 -->
	<resultMap type="com.example.codeblue.vo.Feild" id="Feild">
		<result column="feild_id" property="feildId"></result>
		<result column="feild_name" property="feildName"></result>
	</resultMap>
	<!-- service_category 객체 -->
	<resultMap type="com.example.codeblue.vo.ServiceCategory" id="ServiceCategory">
		<result column="service_category_id" property="serviceCategoryId"></result>
		<result column="service_category_name" property="serviceCategoryName"></result>
	</resultMap>
	<!-- FaqBoard 객체 -->
	<resultMap type="com.example.codeblue.vo.FaqBoard" id="FaqBoard">
		<result column="FAQ_id" property="faqId"></result>
		<result column="FAQ_title" property="faqTitle"></result>
		<result column="FAQ_content" property="faqContent"></result>
		<result column="FAQ_datetime" property="faqDatetime"></result>
		
		<association property="serviceCategory" resultMap="ServiceCategory">
		</association>
	</resultMap>
	<!-- Inquiry -->
	<resultMap type="com.example.codeblue.vo.Inquiry" id="Inquiry">
		<result column="inquiry_id" property="inquiryId"></result>
		<result column="inquiry_name" property="inquiryName"></result>
	</resultMap>
	<!-- InquiryHistory -->
	<resultMap type="com.example.codeblue.vo.InquiryHistory" id="InquiryHistory">
		<result column="inquiry_history_id" property="inquiryHistoryId"></result>
		<result column="inquiry_title" property="inquiryTitle"></result>
		<result column="inquiry_content" property="inquiryContent"></result>
		<result column="inquiry_datetime" property="inquiryDatetime"></result>
		<result column="inquiry_answer" property="inquiryAnswer"></result>
		
		<association property="inquiry" resultMap="Inquiry"></association>
		<association property="user" resultMap="User"></association>
	</resultMap>
	<!-- InquiryHistoryAnswer -->
	<resultMap type="com.example.codeblue.vo.InquiryHistoryAnswer" id="InquiryHistoryAnswer">
		<result column="inquiry_history_answer_id" property="inquiryHistoryAnswerId"></result>
		<result column="inquiry_history_answer_title" property="inquiryHistoryAnswerTitle"></result>
		<result column="inquiry_history_answer_content" property="inquiryHistoryAnswerContent"></result>
		<result column="inquiry_history_answer_datetime" property="inquiryHistoryAnswerDatetime"></result>
		
		<association property="inquiryHistory" resultMap="InquiryHistory"></association>
	</resultMap>
	<!-- 유저리스트 -->
	<select id="adminSelectUserList" parameterType="com.example.codeblue.vo.Page" resultMap="User">
		select
			u.user_id,
			u.user_name,
			re.region_id,
			re.region_name,
			u.user_birthdate,
			u.user_createtime,
			ra.rank_id,
			ra.rank_name,
			u.user_activity
		from user u inner join region re INNER JOIN rank ra
		ON u.region_id = re.region_id AND u.rank_id = ra.rank_id
		where u.user_activity = 'Y'
			<if test="searchWord != null">
				and u.user_name like CONCAT('%',#{searchWord},'%')
			</if>
			<if test="toDate != null and fromDate != null">
			AND DATE(user_createtime) &gt;= DATE(#{toDate}) AND DATE(user_createtime) &lt;= DATE(#{fromDate})
			</if>
		order by u.user_createtime DESC
		limit #{beginRow},#{rowPerPage}
	</select>
	<!-- 유저리스트 카운팅 -->
	<select id="adminSelectUserCount" parameterType="com.example.codeblue.vo.Page" resultType="int">
		SELECT
			COUNT(*)
		FROM user
		WHERE user_activity = 'Y'
		<if test="searchWord != null">
			AND user_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
		<if test="toDate != null and fromDate != null">
			AND DATE(user_createtime) &gt;= DATE(#{toDate}) AND DATE(user_createtime) &lt;= DATE(#{fromDate})
		</if>
	</select>

	<!-- 유저삭제(y->n) -->
	<update id="adminDeleteUser" parameterType="java.util.List">
		UPDATE user
		SET user_activity = 'N'
		WHERE user_id in
		<foreach collection="list" item="type" index="index" open="(" close=")" separator=",">
			(#{type})
		</foreach>
	</update>
	<!-- 탈퇴회원 조회 -->
	<select id="adminSelectWithdrawUserList" parameterType="com.example.codeblue.vo.Page" resultMap="User">
		select
			u.user_id,
			u.user_name,
			re.region_id,
			re.region_name,
			u.user_birthdate,
			u.user_createtime,
			ra.rank_id,
			ra.rank_name,
			u.user_activity
		FROM user u inner join region re INNER JOIN rank ra
		ON u.region_id = re.region_id AND u.rank_id = ra.rank_id
		WHERE u.user_activity = 'N'
			<if test="searchWord != null">
				AND u.user_name like CONCAT('%',#{searchWord},'%')
			</if>
			<if test="toDate != null and fromDate != null">
			AND DATE(user_createtime) &gt;= DATE(#{toDate}) AND DATE(user_createtime) &lt;= DATE(#{fromDate})
			</if>
		ORDER BY u.user_createtime DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	<!-- 탈퇴회원 수 -->
	<select id="adminSelectWithdrawUserCount" parameterType="com.example.codeblue.vo.Page" resultType="int">
		SELECT
			COUNT(*)
		FROM user
		WHERE user_activity = 'N'
		<if test="searchWord != null">
			AND user_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
		<if test="toDate != null and fromDate != null">
			AND DATE(user_createtime) &gt;= DATE(#{toDate}) AND DATE(user_createtime) &lt;= DATE(#{fromDate})
		</if>
	</select>
	<!-- 회원 복구 -->
	<update id="adminUpdateWithdrawUser" parameterType="java.util.List">
		UPDATE user
		SET user_activity = 'Y'
		WHERE user_id in
		<foreach collection="list" item="type" index="index" open="(" close=")" separator=",">
			(#{type})
		</foreach>
	</update>
	<!-- 전문가 회원 조회 -->
	<select id="adminSelectExpertUserList" parameterType="com.example.codeblue.vo.Page" resultMap="User">
		select
			u.user_id,
			u.user_name,
			re.region_id,
			re.region_name,
			u.user_birthdate,
			u.user_createtime,
			ra.rank_id,
			ra.rank_name,
			u.user_activity
		from user u inner join region re INNER JOIN rank ra
		ON u.region_id = re.region_id AND u.rank_id = ra.rank_id
		where u.user_activity = 'Y' AND ra.rank_name = 'expert'
			<if test="searchWord != null">
				and u.user_name like CONCAT('%',#{searchWord},'%')
			</if>
			<if test="toDate != null and fromDate != null">
			AND DATE(user_createtime) &gt;= DATE(#{toDate}) AND DATE(user_createtime) &lt;= DATE(#{fromDate})
			</if>
		order by u.user_createtime DESC
		limit #{beginRow},#{rowPerPage}
	</select>
	<!-- 전문가 회원 수 -->
	<select id="adminSelectExpertUserCount" parameterType="com.example.codeblue.vo.Page" resultType="int">
		SELECT
			COUNT(*)
		FROM user u INNER JOIN rank ra
		ON u.rank_id = ra.rank_id
		WHERE u.user_activity = 'Y' AND ra.rank_name = 'expert'
		<if test="searchWord != null">
			AND u.user_name LIKE CONCAT('%',#{searchWord},'%')
		</if>
		<if test="toDate != null and fromDate != null">
			AND DATE(u.user_createtime) &gt;= DATE(#{toDate}) AND DATE(u.user_createtime) &lt;= DATE(#{fromDate})
		</if>
	</select>
	<!-- 유저ㅓㅓㅓㅓㅓㅓㅓㅏㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓㅓ -->
	<!-- 유저 유저조회 -->
	<select id="selectUserList" resultMap="User">
		select
			u.user_id,
			u.user_name,
			re.region_id,
			re.region_name,
			u.user_birthdate,
			u.user_createtime,
			ra.rank_id,
			ra.rank_name,
			u.user_activity
		from user u inner join region re INNER JOIN rank ra
		ON u.region_id = re.region_id AND u.rank_id = ra.rank_id
		where u.user_activity = 'Y'
		<if test="searchWord != null">
			AND user_name like CONCAT('%',#{searchWord},'%')
		</if>
		ORDER BY user_createtime DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	<!-- 유저 유저 수 카운팅 -->
	<select id="selectUserCount" parameterType="com.example.codeblue.vo.Page" resultType="int">
	select
		count(*) 
	from user
	where user_activity = 'Y'
	<if test="searchWord != null">
			AND user_name LIKE CONCAT('%',#{searchWord},'%')
	</if>
	</select>
	<!-- serviceCategory 리스트 -->
	<select id="selectServiceCategoryList" resultMap="ServiceCategory">
		select service_category_id, service_category_name
		from service_category
	</select>
	<!-- faq 리스트 -->
	<select id="selectFaqList" parameterType="com.example.codeblue.vo.Page" resultMap="FaqBoard">
		SELECT f.FAQ_id, sc.service_category_name, f.FAQ_title, f.FAQ_datetime
		FROM faq_board f INNER JOIN service_category sc
		ON f.service_category_id = sc.service_category_id
	<if test="searchCategory != null">
		WHERE f.service_category_id = #{searchCategory}
	</if>
		ORDER BY f.FAQ_datetime DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	<!-- faq 총 수 -->
	<select id="selectFaqCount" parameterType="com.example.codeblue.vo.Page" resultType="int">
		SELECT COUNT(*)
		FROM faq_board
		<if test="searchCategory != null">
			WHERE service_category_id = #{searchCategory}
		</if>
	</select>
	<!--  faqone 출력 (이전글,다음글까지 출력) -->
	<select id="selectFaqOne" parameterType="int" resultMap="FaqBoard">
		SELECT f.FAQ_id, f.FAQ_title, se.service_category_name, f.FAQ_content, f.FAQ_datetime
		FROM faq_board f INNER JOIN service_category se
		ON f.service_category_id = se.service_category_id
		WHERE f.FAQ_id IN (
		    (SELECT faq_id FROM faq_board WHERE faq_id &lt; #{faqId} ORDER BY faq_id DESC LIMIT 1),
			 (SELECT faq_id FROM faq_board WHERE faq_id = #{faqId}),
		    (SELECT faq_id FROM faq_board WHERE faq_id &gt; #{faqId} ORDER BY faq_id LIMIT 1)
			 );
	</select>
	<!-- inquiry 카테고리 출력 -->
	<select id="selectInquiry" resultMap="Inquiry">
		SELECT inquiry_id, inquiry_name
		FROM inquiry
	</select>
	<!-- inquiryHistory 리스트 출력 -->
	<select id="selectInquiryHistory" parameterType="com.example.codeblue.vo.Page" resultMap="InquiryHistory">
		SELECT inh.inquiry_history_id, inq.inquiry_name, inh.inquiry_title, inh.inquiry_datetime, inh.inquiry_answer
		FROM inquiry_history inh INNER JOIN inquiry inq INNER JOIN user u
		ON inh.inquiry_id = inq.inquiry_id AND inh.user_id = u.user_id
		WHERE inh.user_id = #{userId}
		<if test="searchCategory != null">
			AND inh.inquiry_id = #{searchCategory}
		</if>
		ORDER BY inh.inquiry_datetime DESC
		LIMIT #{beginRow},#{rowPerPage}
	</select>
	<!-- 문의 내역 리스트 행의 수 -->
	<select id="selectInquiryHistoryCount" parameterType="com.example.codeblue.vo.Page" resultType="int">
		SELECT COUNT(*)
		FROM inquiry_history inh INNER JOIN inquiry inq INNER JOIN user u
		ON inh.inquiry_id = inq.inquiry_id AND inh.user_id = u.user_id
		WHERE inh.user_id = #{userId}
		<if test="searchCategory != null">
			AND inh.inquiry_id = #{searchCategory}
		</if>
	</select>
</mapper>