<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.codeblue.board.mapper.BoardMapper">
	<select id="selectRegionList" resultType="com.example.codeblue.user.vo.Region">
		SELECT region_id as regionId, region_name as regionName 
		FROM region	
	</select> 
	
	<select id="selectFeildList" resultType="com.example.codeblue.user.vo.Feild">
		SELECT feild_id as feildId, feild_name as feildName
		FROM Feild 
	</select> 
</mapper>

	
	