<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.codeblue.mapper.UserMapper">
	<!-- Region 객체 -->
	<resultMap type="com.example.codeblue.vo.Region" id="Region">
		<result column="region_id" property="regionId"></result>
		<result column="region_name" property="regionName"></result>
	</resultMap>
	<!-- Rank 객체 -->
	<resultMap type="com.example.codeblue.vo.Rank" id="Rank">
		<result column="rank_id" property="rankId"></result>
		<result column="rank_name" property="rankName"></result>
	</resultMap>
	
	<!-- Tag 객체 -->
	<resultMap type="com.example.codeblue.vo.Tag" id="Tag">
		<result column="tag_id" property="tagId"></result>
		<result column="tag_name" property="tagName"></result>
	</resultMap>
	
	<!-- Feild 객체 -->
	<resultMap type="com.example.codeblue.vo.Feild" id="Feild">
		<result column="feild_id" property="feildId"></result>
		<result column="feild_name" property="feildName"></result>
	</resultMap>
	
	<!-- NoticeBoard 객체 -->
	<resultMap type="com.example.codeblue.vo.NoticeBoard" id="NoticeBoard">
		<result column="notice_id" property="noticeId"></result>
		<result column="notice_title" property="noticeTitle"></result>
		<result column="notice_content" property="noticeContent"></result>
		<result column="notice_datetime" property="noticeDatetime"></result>
	</resultMap>
	
	<!-- User 객체 -->
	<resultMap type="com.example.codeblue.vo.User" id="User">
		<result column="user_id" property="userId"></result>
		<result column="user_name" property="userName"></result>
		<result column="user_pw" property="userPw"></result>
		<result column="user_birthdate" property="userBirthdate"></result>
		<result column="user_createtime" property="userCreatetime"></result>
		<result column="user_authority" property="userAuthority"></result>
		
		<association property="region" resultMap="Region"></association>
		<association property="rank" resultMap="Rank"></association>
	</resultMap>
	

	<!-- QuestionComment 객체 -->
	<resultMap type="com.example.codeblue.vo.QuestionComment" id="QuestionComment">
		<result column="question_comment_id" property="questionCommentId"></result>
		<result column="question_comment_content" property="questionCommentContent"></result>
		<result column="question_comment__datetime" property="questionCommentDatetime"></result>
		
		<association property="user" resultMap="User"></association>
		<association property="questionBoard" resultMap="QuestionBoard"></association>
	</resultMap>
	
	<!-- QuestionBoard 객체 -->
	<resultMap type="com.example.codeblue.vo.QuestionBoard" id="QuestionBoard">
		<result column="question_id" property="questionId"></result>
		<result column="question_title" property="questionTitle"></result>
		<result column="question_content" property="questionContent"></result>
		<result column="question_datetime" property="questionDatetime"></result>
		<result column="answer_count" property="answerCount"></result>
		<result column="vote_count" property="voteCount"></result>
		<result column="comment_count" property="commentCount"></result>
		
		<association property="feild" resultMap="Feild"></association>
		<association property="user" resultMap="User"></association>
		<association property="tag" resultMap="Tag"></association>
	</resultMap>
	
	<select id="selectUserOne" parameterType="com.example.codeblue.vo.User"
			resultMap="User">
		SELECT 
			   user_id,
			   user_name,
			   region_id,
			   user_birthdate,
			   user_createtime
		FROM user
		WHERE user_id = ${userId}
	</select>

	<select id="selectTagList" parameterType="com.example.codeblue.vo.Page" resultMap="Tag">
		SELECT 
			tag_name
	    FROM tag
	    ORDER BY notice_datetime DESC
	    LIMIT #{beginRow},#{rowPerPage}
	</select>

	<select id="selectQuestionCommentList" parameterType="int" resultMap="QuestionComment">
		SELECT	
			question_comment_id,
			user_id,
			question_comment_content,
			question_id,
			question_comment_datetime
		FROM question_comment
		WHERE question_id = #{qestionId}
		ORDER BY question_comment_datetime DESC
	</select>
	
	<select id="selectQuestionCommentCount" resultType="int" parameterType="int">
		SELECT 
			COUNT(question_id) 
		FROM question_comment
			WHERE question_id = #{questionId}
	</select>
	
	<select id="selectQuestionBoardOne" parameterType="int" resultMap="QuestionBoard">
		SELECT 
			question_id,
			question_title,
			question_content,
			question_datetime,
			feild_id,
			user_id,
			tag_id
		FROM question_board
		WHERE question_id = #{questionId}
	</select>
	<select id="selectQuestionBoardVotes" resultType="int" parameterType="com.example.codeblue.vo.QuestionBoard">
		SELECT 
			COUNT(question_id) 
		FROM question_vote
			WHERE question_id = #{questionId}
	</select>
	
	<select id="selectQuestionBoardAnswerCount" resultType="int" parameterType="com.example.codeblue.vo.QuestionBoard">
		SELECT 
			COUNT(question_id) 
		FROM answer
			WHERE question_id = #{questionId}
	</select>
	
	<select id="selectQuestionBoardList" resultMap="QuestionBoard" parameterType="com.example.codeblue.vo.Page">
		SELECT 
			qb.question_id,
			qb.question_title,
			u.user_name,
			u.user_id,
			qb.question_datetime
		FROM question_board qb inner join user u
		ON qb.user_id = u.user_id
		<where>
			<if test="searchWord != null">
				qb.question_title like CONCAT('%',#{searchWord},'%')
			</if>
			<if test="feildId != 99">
				qb.feild_id = #{feildId}
			</if>
		</where>
			ORDER BY qb.question_datetime DESC 
			LIMIT #{beginRow},#{rowPerPage}
	</select>
	
	<select id="selectQuestionBoardTotalCount" resultType="int" parameterType="com.example.codeblue.vo.Page">
		SELECT 
			COUNT(*)
		FROM question_board
		<where>
			<if test="searchWord != null">
				question_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>

	<select id="selectNoticeBoardList"
			parameterType="com.example.codeblue.vo.Page"
			resultMap="NoticeBoard">
	SELECT notice_id,
			notice_title,
			notice_content,
			notice_datetime
    FROM notice_board
    ORDER BY notice_datetime DESC
    LIMIT #{beginRow},#{rowPerPage}
   </select>
   
   <select id="noticeBoardTotalRow"
		   resultType="int">
   		SELECT COUNT(*) 
   			FROM notice_board
   </select>
   <select  id="selectNoticeBoardOne" 
   			parameterType="int"
   			resultMap="NoticeBoard">
   	SELECT notice_id,
			notice_title,
			notice_content,
			notice_datetime
    FROM notice_board
    WHERE notice_id = #{noticeId}
   	</select>

	<insert id="insertQuestion" parameterType="com.example.codeblue.vo.QuestionBoard">
		INSERT INTO question_board  (
			user_id,
			question_title,
			question_content,
			question_datetime,
			feild_id
		)
		VALUES (
			#{user.userId},
			#{questionTitle},
			#{questionContent},
			NOW(),
			#{feild.feildId}
		)		
	</insert>

	<insert id="insertExpert" parameterType="com.example.codeblue.vo.Expert">
		INSERT INTO expert(
			user_id,
			feild_id,
			expert_license_no,
			expert_license_issue_date
		)VALUE(
			#{userId}, #{feildId}, #{expertLicenseNo},#{expertLicenseIssueDate}
		)
	</insert>

	<insert id="insertUser" parameterType="com.example.codeblue.vo.User">
		INSERT INTO user(
			user_id,
			user_name,
			user_pw,
			user_birthdate,
			user_createtime,
			region_id
		) values (
			#{userId}, #{userName}, #{userPw},#{userBirthDate}, now(),#{regionId}
		)
	</insert>
	
	<select id="selectUserId" parameterType="com.example.codeblue.vo.User" resultMap="User">
		SELECT user_id, user_name
		FROM user WHERE user_id = #{userId} AND user_pw = #{userPw}
	</select>
	
	<select id="selectUserIdForCheck" parameterType="com.example.codeblue.vo.User" resultMap="User">
		SELECT user_id, user_name
		FROM user WHERE user_id = #{userId}
	</select>
	

	
	<update id="updateUserPw" parameterType="com.example.codeblue.vo.User">
		UPDATE user SET user_pw = #{userPw} WHERE user_id = #{userId}
	</update>
</mapper>














