<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.codeblue.user.mapper.UserMapper">
	<insert id="insertUser"
			parameterType="com.example.codeblue.user.vo.User">
			INSERT INTO user(
			user_id,user_name,user_pw
			)VALUES(
			#{userId},#{userName},#{userPw}
			)
	</insert>
	
	<select id="checkUser" parameterType="com.example.codeblue.user.vo.User"
							resultType="com.example.codeblue.user.vo.User">
			SELECT user_id as userId,
					user_name as userName
			FROM user
			WHERE user_id = #{userId} AND user_pw = #{userPw}
		
	</select>
</mapper>