<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.codeblue.test.ljh.LjhMapper">

<!-- ReportHistory 객체  -->
	<resultMap type="com.example.codeblue.vo.ReportHistory" id="ReportHistory"> 
	<!-- column은 테이블에서의 칼럼명  property는 클레스의 필드명 -->
	   	<result column="report_history_id" property="reportHistoryId" ></result>
	   	<result column="report_title" property="reportTitle" ></result>
	   	<result column="report_content" property="reportContent" ></result>
	   	<result column="report_datetime" property="reportDatetime"></result>
	   
	   <association property="questionBoard" resultMap="QuestionBoard">
	  	</association>
	  	<association property="answer" resultMap="Answer">
	  	</association>
	   	<association property="report" resultMap="Report">
	  	</association>
	  	<association property="user" resultMap="User">
	   	</association>
	</resultMap>
	<!-- Report 객체 -->
	<resultMap type="com.example.codeblue.vo.Report" id="Report">
		<result column="report_id" property="reportId"></result>
	     <result column="report_name" property="reportName"></result>
	</resultMap>
	<!-- Inquiry 객체 -->
	<resultMap type="com.example.codeblue.vo.Inquiry" id="Inquiry">
		<result column="inquiry_id" property="inquiryId"></result>
	    <result column="inquiry_name" property="inquiryName"></result>
	</resultMap>
	<!-- ServiceCategory 객체 -->
	<resultMap type="com.example.codeblue.vo.ServiceCategory" id="ServiceCategory">
		<result column="service_category_id" property="serviceCategoryId"></result>
		<result column="service_category_name" property="serviceCategoryName"></result>
	</resultMap>
	
	<!-- FaqBoard 객체  -->
	<resultMap type="com.example.codeblue.vo.FaqBoard" id="FaqBoard"> 
	   	<result column="FAQ_id" property="faqId" ></result>
	   	<result column="FAQ_title" property="faqTitle" ></result>
	   	<result column="FAQ_content" property="faqContent" ></result>
	   	<result column="FAQ_datetime" property="faqDatetime"></result>

	  	<association property="serviceCategory" resultMap="ServiceCategory">
	   	</association>
	</resultMap>
	<!-- User 객체 -->
	<resultMap type="com.example.codeblue.vo.User" id="User">
		<result column="user_id" property="userId"></result>
		<result column="user_name" property="userName"></result>
		<result column="user_pw" property="userPw"></result>
		<result column="user_birthdate" property="userBirthdate"></result>
		<result column="user_createtime" property="userCreatetime"></result>
		<result column="user_authority" property="userAuthority"></result>
		
		<association property="region" resultMap="Region"></association>
		<association property="rank" resultMap="Rank"></association>
	</resultMap>
	
	<!-- Region 객체 -->
	<resultMap type="com.example.codeblue.vo.Region" id="Region">
		<result column="region_id" property="regionId"></result>
		<result column="region_name" property="regionName"></result>
	</resultMap>
	<!-- Rank 객체 -->
	<resultMap type="com.example.codeblue.vo.Rank" id="Rank">
		<result column="rank_id" property="rankId"></result>
		<result column="rank_name" property="rankName"></result>
	</resultMap>
	
	<!-- QuestionComment 객체 -->
	<resultMap type="com.example.codeblue.vo.QuestionComment" id="QuestionComment">
		<result column="question_comment_id" property="questionCommentId"></result>
		<result column="question_comment_content" property="questionCommentContent"></result>
		<result column="question_comment__datetime" property="questionCommentDatetime"></result>
		
		<association property="user" resultMap="User"></association>
		<association property="questionBoard" resultMap="QuestionBoard"></association>
	</resultMap>
	
		<!-- QuestionBoard 객체 -->
	<resultMap type="com.example.codeblue.vo.QuestionBoard" id="QuestionBoard">
		<result column="question_id" property="questionId"></result>
		<result column="question_title" property="questionTitle"></result>
		<result column="question_content" property="questionContent"></result>
		<result column="question_datetime" property="questionDatetime"></result>
		<result column="answer_count" property="answerCount"></result>
		<result column="vote_count" property="voteCount"></result>
		<result column="comment_count" property="commentCount"></result>
		
		<association property="feild" resultMap="Feild"></association>
		<association property="user" resultMap="User"></association>
		<association property="tag" resultMap="Tag"></association>
	</resultMap>
		<!-- Tag 객체 -->
	<resultMap type="com.example.codeblue.vo.Tag" id="Tag">
		<result column="tag_id" property="tagId"></result>
		<result column="tag_name" property="tagName"></result>
	</resultMap>
	
	<!-- Feild 객체 -->
	<resultMap type="com.example.codeblue.vo.Feild" id="Feild">
		<result column="feild_id" property="feildId"></result>
		<result column="feild_name" property="feildName"></result>
	</resultMap>
	<!-- Answer 객체 -->
	<resultMap type="com.example.codeblue.vo.Answer" id="Answer">
		<result column="answer_id" property="answerId"></result>
		<result column="answer_content" property="answerContent"></result>
		<result column="answer_datetime" property="answerDatetime"></result>
		
		<association property="user" resultMap="User"></association>
		<association property="questionBoard" resultMap="QuestionBoard"></association>
	</resultMap>
	<!-- AnswerComment 객체 -->
	<resultMap type="com.example.codeblue.vo.AnswerComment" id="AnswerComment">
		<result column="answer_comment_id" property="answerCommentId"></result>
		<result column="answer_comment_content" property="answerCommentContent"></result>
		<result column="answer_comment_datetime" property="answerCommentDatetime"></result>
		
		<association property="user" resultMap="User"></association>
		<association property="answer" resultMap="Answer"></association>
	</resultMap>
	<!-- Hospital 객체 (복사본)-->
	<resultMap type="com.example.codeblue.vo.Hospital" id="Hospital">
		<!-- pk는 id 그 외는 result칼럼사용 -->
		<!-- column은 테이블에서의 칼럼명  property는 클레스의 필드명 -->
		<result column="hospital_id" property="hospitalId"></result>
		<result column="hospital_name" property="hospitalName"></result>
		<result column="hospital_number" property="hospitalNumber"></result>
		<result column="hospital_address" property="hospitalAddress"></result>
		<result column="hospital_address2" property="hospitalAddress2"></result>
		<association property="region" javaType="com.example.codeblue.vo.Region">
		</association>
	</resultMap>
	<!-- NoticeBoard 객체 -->
	<resultMap type="com.example.codeblue.vo.NoticeBoard" id="NoticeBoard">
		<result column="notice_id" property="noticeId"></result>
		<result column="notice_title" property="noticeTitle"></result>
		<result column="notice_content" property="noticeContent"></result>
		<result column="notice_datetime" property="noticeDatetime"></result>
	</resultMap>
	
	<!-- 신고내역  정보 가져오기   -->
   <select  id="selectReportHistoryOne" parameterType="int" resultMap="ReportHistory">
		SELECT  rh.report_history_id,
				rh.report_title,
				rh.report_content, 
				r.report_name,
				u.user_id,
				rh.report_datetime,
				rh.question_id,
				rh.answer_id
	    FROM report_history rh INNER JOIN report r INNER JOIN user u 
	    ON rh.report_id = r.report_id AND rh.user_id = u.user_id 
	    WHERE rh.report_history_id = #{reportHistoryId}
   	</select>
	
	
	
	<!-- 신고내역 전체 리스트 -->
	<select id="selectReportHistoryList" parameterType="com.example.codeblue.vo.Page" resultMap="ReportHistory">
	
	SELECT  report_history_id,
			report_title,
			report_datetime
    FROM report_history
    <where>
    	<if test='reportCategory == "question"'>
			AND question_id IS NOT NULL
		</if>
		<if test='reportCategory == "answer"'>
			AND answer_id IS NOT NULL
		</if>
		<if test="searchCategory != null">
			AND report_id = #{searchCategory}
		</if> 
		<if test="searchWord != null">
			AND report_title like CONCAT('%',#{searchWord},'%')
		</if> 
		<if test="toDate != null and fromDate != null">
			AND DATE(report_datetime) &gt;= DATE(#{toDate}) AND DATE(report_datetime) &lt;= DATE(#{fromDate})  
		</if>
	</where>
    ORDER BY report_datetime DESC
    LIMIT #{beginRow},#{rowPerPage}
   </select>
   <!--  신고내역 전체 행 -->
   <select id="selectReportHistoryTotalRow" parameterType="com.example.codeblue.vo.Page" resultType="int">
	SELECT count(*)
	FROM report_history
	<where>
		<if test='reportCategory == "question"'>
			AND question_id IS NOT NULL
		</if>
		<if test='reportCategory == "answer"'>
			AND answer_id IS NOT NULL
		</if>
		<if test="searchCategory != null">
			AND report_id = #{searchCategory}
		</if>
		<if test="searchWord != null">
			AND report_title like CONCAT('%',#{searchWord},'%')
		</if> 
		<if test="toDate != null and fromDate != null">
			AND DATE(report_datetime) &gt;= DATE(#{toDate}) AND DATE(report_datetime) &lt;= DATE(#{fromDate})  
		</if>
	</where>
   </select>   
  	
  	
  	
  	
		<!-- 병원 추가 -->
	<insert id="insertHospital" parameterType="com.example.codeblue.vo.Hospital">
		INSERT INTO Hospital(
			hospital_name, hospital_number, hospital_address, hospital_address2,region_Id
		) VALUES(
			#{hospitalName}, #{hospitalNumber}, #{hospitalAddress}, #{hospitalAddress2}, #{region.regionId}
		)
	</insert>
	<!-- <insert id="insertHospitalImg" parameterType="com.example.codeblue.vo.HospitalImg">
		INSERT INTO hospital_img
	</insert> -->
	

</mapper>



