<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.codeblue.test.HospitalMapper">
	<!-- region property 합친 후 수정해야함.  -->
	<!-- Hospital 객체 생성  -->
	<resultMap type="com.example.codeblue.vo.Hospital" id="Hospital">
		<!-- pk는 id 그 외는 result칼럼사용 -->
		<!-- column은 테이블에서의 칼럼명  property는 클레스의 필드명 -->
		<result column="hospital_id" property="hospitalId"></result>
		<result column="hospital_name" property="hospitalName"></result>
		<result column="hospital_number" property="hospitalNumber"></result>
		<result column="hospital_address" property="hospitalAddress"></result>
		<result column="hospital_address2" property="hospitalAddress2"></result>
		<association property="region" javaType="com.example.codeblue.vo.Region">
			<result column="region_id" property="regionId"></result>
			<result column="region_name" property="regionName"></result>
		</association>
	</resultMap>
	
	
	<!-- 병원 리스트 -->
	<select id="hospitalList" resultMap="Hospital" parameterType="com.example.codeblue.vo.Page">
		SELECT
			h.hospital_id,
			h.hospital_name, 
			h.hospital_number, 
			h.hospital_address,
			h.hospital_address2,
			re.region_name,
			re.region_id 
			FROM hospital h inner join region re
			ON h.region_id = re.region_id 
		<where>
			<if test="searchWord != null">
				and h.hospital_name like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		limit #{beginRow},#{rowPerPage}
	</select>
	
	<select id="hospitalCount" resultType="int">
		SELECT count(*) FROM hospital
	</select>

</mapper>