<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.example.codeblue.admin.mapper.AdminNoticeMapper">
  	<select id="selectNoticeBoard" resultType="com.example.codeblue.admin.vo.Notice"
  									parameterType="com.example.codeblue.board.vo.Page">
  		SELECT notice_id AS noticeId,
  			notice_title AS noticeTitle,
  			notice_content AS noticeContent,
  			notice_datetime AS noticeDatetime
  		FROM
  			notice_board
  		<where>
			<if test="searchWord != null">
				question_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
  		ORDER BY notice_datetime desc
  		LIMIT #{beginRow}, #{rowPerPage}
  		<where>
  		
  		</where>
  	</select>
  	
  	<select id="noticeBoardCount" resultType="int" parameterType="com.example.codeblue.board.vo.Page">
  		SELECT 
  			COUNT(*) 
  		FROM notice_board
  		<where>
			<if test="searchWord != null">
				question_title like CONCAT('%',#{searchWord},'%')
			</if>
		</where>
  	</select>
  	
  	<select id="noticeBoardOne" resultType="com.example.codeblue.admin.vo.Notice" parameterType="int">
  			SELECT notice_id AS noticeId,
  			notice_title AS noticeTitle,
  			notice_content AS noticeContent,
  			notice_datetime AS noticeDatetime
  		FROM
  			notice_board
  		WHERE 
  			notice_id = #{noticeId}
  	</select>
  	
  	<insert id ="insertNoticeBoard" parameterType="com.example.codeblue.admin.vo.Notice">
  		INSERT INTO notice_board (
  			notice_title,
  			notice_content,
  			notice_datetime
  		) values(
  			#{noticeTitle},
  			#{noticeContent},
  			now()
  		)
  		
  	</insert>
  </mapper>